[2019-07-25 20:54] msmolyakov commented on #2303
Please read the official documentation. It explains this and more https://docs.wavesplatform.com/en/

[2019-07-25 20:54] #2303 closed

[2019-08-11 01:40] username1565 opened #2505 "domain name as declared address in config"
Hello. I see here: https://github.com/wavesplatform/Waves/blob/master/node/waves-mainnet.conf
the option:

[code]
So can you make the "Declared address" to be the domain name,
because if I have dynamic IP and DDNS, I can specify domain name only.

Or just option to change IP to the current external IP.

Also, what about onion-domains in TOR network?

[2019-08-13 01:05] username1565 opened #2507 "No backward compatibility with blockchain-archive"
Windows.

After [downloading tar-archive with blocks](http://blockchain.wavesnodes.com/), according [this guide](https://docs.wavesplatform.com/en/waves-node/options-for-getting-actual-blockchain.html)
and unpack this blocks to "data"-folder,
latest version of the node, **waves-all-1.0.2.jar** tell me an error.

But old version **waves-all-0.15.4.jar** working normally with this blocks, inside tha

[2019-08-13 03:50] username1565 commented on #2507
**Solved!**

I see the node with version v0.15.6 working good with .tar-archive.
But after start node, this node is verifying blocks after connect to the nodes.

The node with version v0.16.2 ask for rebuild storage, when .tar-archive is unpacked in "data"-folder.
So I just imported blocks [from binary file](http://blockchain.wavesnodes.com/mainnet-1655722) for node v1.0.2...
After downloading blo

[2019-08-13 12:33] phearnot commented on #2505
Hi, this is the P2P protocol limitation, although it may be changed in one of the future releases.

Please note however that there's most likely no need to change this settings at all, unless you're running your node on an always-on cloud server (which has a static, public IP address). When `declared-address` is not defined, your node will only establish outgoing connections (but will not accept i

[2019-08-13 13:53] username1565 commented on #2505
I just see here https://wavesblockexplorer.com/#!/peers
in **Declared address** field, one node, has "N/A", now,
but all another peers has only IP addresses there.
But if I want to specify there
something, like my_node.duckdns.org:6868, or blahblah.onion:6868
then my node cann't accept incoming connections, only outgoing...

[2019-08-14 01:16] username1565 commented on #2507
I again open this issue to ask the following thing:
Is there any .tar-archive with verified blocks,
which has the backward compatibility with nodes version after v0.16.2?
Verification of blocks so slow (sometimes 100 blocks for 4 minutes!),
and will be better to just unpack tar-archive.
But after version v0.16.2 node ask about rebuild storage...

Can you add some option to make .tar-archive with a

[2019-08-14 11:12] phearnot commented on #2507
The TAR archive we host should be compatible with the most recent node version. Could you please post a log excerpt containing the exact error you're getting after downloading and extracting the `blockchain.tar`?

[2019-08-14 11:24] phearnot commented on #2505
You can define any address as your node's declared address, as long as other nodes can establish connections to this address. But I'd like to stress that you don't _have_ to. There's no benefit to having more incoming connections than outgoing ones.
Also even if `peers.dat` goes stale (e.g. because the node was stopped for some time), once the node connects to the first peer, it will get the most

[2019-08-14 11:26] phearnot commented on #2439
Closing due to inactivity. Please feel free to reopen.

[2019-08-14 11:26] #2439 closed

[2019-08-14 14:15] username1565 commented on #2505
Ok.
So, as I understand, if my node will be disconnected some time,
and if my `peers.dat` will be not actual,
I just need to connect to one from working node to update `peers.dat`.

And I just need to update `known-peers array` for [node.conf](https://github.com/wavesplatform/waves-documentation/blob/master/ko/waves-full-node/how-to-configure-a-node.md)...

I see here: http://dev.pywaves.org/nodes

[2019-08-14 14:15] #2505 closed

[2019-08-14 14:18] username1565 commented on #2507
Something long answer with `scala`-error, and many letters there.
I don't want to repeat this, because now, I do import the blocks from **binary file**.

[2019-08-14 14:27] #2507 closed

[2019-08-15 08:40] amurdev opened #2515 "Impossible to write verified 150KB DataTransaction in case of scripted account"
**Description**
According to documentation max DataTransaction size is 150KB. But at the same time it is impossible to pass parameter greater than 32KB to the _sigVerify_ RIDE function.
It means that you couldn't verify 150KB DataTransaction in RIDE script and as a result max size is limited by 32KB

**Steps to reproduce the behavior:**
1. Create and deploy script which use sigVerify function
2. P

[2019-08-16 14:23] username1565 commented on #2507
Validation of blocks is so slow...
[code]
2 days only 172k blocks... Huh...

[2019-08-16 15:07] suadhasani opened #2520 "/assets/details inconsistencies"
There seems to be an inconsistency regarding the `/assets/details` endpoints when `WAVES` is being passed as a parameter.

The  [**Node API**](https://nodes.wavesplatform.com/assets/details/WAVES) returns nothing
while the
[**Data Service**](https://api.wavesplatform.com/v0/assets/WAVES) returns what it's supposed (one could argue about that) to return.

Even though Waves is technically not an ass

[2019-08-16 16:00] username1565 opened #2521 "[FEATURE] **Synchronization Management.** (If still - does not exists)."
**Аbstract**
Is your feature request related to a problem? Please describe.
I see here https://dev.pywaves.org/nodes/ the list of nodes.
And someone has status `forked at block_N`.
So my question about synchronization management to perevent loading the blocks from forked blockchain or loading this specially from specified branch from specified segment of decentralized network...

**Motivation and

[2019-08-19 07:50] username1565 opened #2523 "[BUG] Matcher REST API - not working for node v1.0.2"
**Describe the bug**
A clear and concise description of what the bug is.
Matcher REST API maybe working for node v1.0.1.
but not working for node v1.0.2.
Example, you can see here: http://104.248.21.238:6886/api-docs/index.html
And no one node with version v1.0.2 hasn't enabled matcher here: https://dev.pywaves.org/nodes/

**To Reproduce**
Steps to reproduce the behavior:
1. Install node v1.0.1, v

[2019-08-19 08:37] username1565 commented on #2523
"/data" is the my waves.directory.
When I running node v1.0.1 - I don't see "/data/matcher"-folder.
This folder not creating, after first running.

When I do first running the node v0.17.1, then "/data/matcher"-folder is creating good.
And MATCHER REST API - available on http://104.248.21.238:6886/api-docs/index.html
Then running the synchronization of blockchain...

If I do running v1.0.1 after r

[2019-08-19 11:02] duongvansang opened #2525 "[BUG] Could not keep state for private node"
I could not keep status for private node after build

Steps are following:
1. Start private node with genesis block config.
2. Create some transactions and accounts.
3. And then stop private node
4. Start it again.
5. Check old transaction and accounts, it's all gone.

How could I keep blockchain state for private node?

Thanks,

[2019-08-19 12:26] phearnot commented on #2440
This has been fixed in #2509.

[2019-08-19 12:26] #2440 closed

[2019-08-20 15:24] username1565 commented on #2452
@vsuharnikov, as I understand, this is extension for the nodes with last versions v1.0.1 and v1.0.2.
And this extension must be runned with node, as different application, like [WAVES DATAFEED API](https://github.com/PyWaves/WavesDataFeed), right?

But I don't see any compiled JAR-file for windows, here: https://github.com/wavesplatform/dex/releases

I just see MATCHER REST API working for node wi

[2019-08-20 15:36] username1565 commented on #1205
Hello.
If you mean the type of WAVES balance in block-explorer, like this:
https://wavesblockexplorer.com/#!/address/3P2HNUd5VUPLMQkJmctTPEeeHumiPN2GkTb
then...

Regular Balance - Regular is your personal WAVES balance, and this is all YOUR WAVES.

Available Balance - balance, available for trading, and pending in opened orders, this is balance, excluded all your leased WAVES.

Effective Balance -

[2019-08-20 15:43] username1565 commented on #2285
Hello!

You can rename `wallet.dat` (do not delete this!), and if you specified your base58 encoded seed and password in old node.conf, then this file `wallet.dat`, will be created again, after next running of the node. Maybe this file is corrupted.

Also, if you have base58 encoded seed, in your `node.conf`, you can [decode this seed from that base58 to mnemonic text](https://brainwalletx.github.

[2019-08-20 16:11] username1565 opened #2531 "[FEATURE] Chain of leasing, with cancel leasing from the chain, if main node - shutdown and long time offline."
**Аbstract**
Is your feature request related to a problem? Please describe.
Yes. If the mining-node is offline, this cann't do mining.

**Motivation and Purposes**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [no any LPOS rewards].

** Specification**
A clear and concise description of what you want to happen. Describe alternatives you've considered

I hav

[2019-08-21 10:06] username1565 commented on #76
Hello!
As you can see [here, in the configuration file](https://github.com/wavesplatform/waves-documentation/blob/master/ko/waves-full-node/how-to-configure-a-node.md) for node, in the section `wallet`, can be specified the following parameters:
1. Pathway for the file `wallet.dat` with encrypted seed for address of the node.
2. `password` to encrypt the seed.
3. Seed, as `base58 encoded string`.

[2019-08-24 01:23] username1565 opened #2539 "[FEATURE] ADD UTXO for WAVES and tokens."
**Аbstract**
Is your feature request related to a problem? Please describe.
Maybe yes.
I just don't see [UTXO](https://en.wikipedia.org/wiki/Unspent_transaction_output) in [Waves blockchchain](https://wavesblockexplorer.com/#!/blocks).
What about attempts and ability of double spending in this case?

**Motivation and Purposes**
A clear and concise description of what the problem is. Ex. I'm always

[2019-08-24 15:27] username1565 commented on #2523
Beginning from some block, after 1610000 block,
node v0.17.1 cann't synchronize the blockchain, and synchronization is stopped.
If this process will be continued with node v1.0.2, then synchronization is continue, but
after run node v0.17.1, I got an error:
`java.lang.Exception: Invalid array size (151060480)`

And Matcher REST API - not working in v1.0.1 and v1.0.2, but working v0.17.1...
Maybe n

[2019-08-24 16:29] username1565 commented on #2523
Synchronization - is pain.

Can I disable slow blocks validation - sometimet this `by 100 blocks per 4 minutes`?
Can I synchronize the blockchain only after specified valid block and don't save all blocks previous this valid block?

[2019-08-24 22:06] username1565 commented on #2523
I see here: https://matcher.wavesplatform.com/api-docs/index.html
**api version: 1.0.1.12**
Do you have jar-file for node v.1.0.1.12, with working matcher?

[2019-08-27 01:54] username1565 commented on #2523
Solved in [this issue](https://github.com/wavesplatform/dex/issues/37)!
For nodes v1.0.0, v1.0.1, v1.0.2 - need to using extensions and add some string into configuration file.

[2019-08-27 01:54] #2523 closed

[2019-08-27 03:25] username1565 commented on #1354
Hm... Is this possible to make the synchronization of the orders
between existing matchers in the Mainnet?
Is there any list of existing matchers?
I see here: http://dev.pywaves.org/nodes/ only a few nodes has enabled matcher.
So, I think, if matcher address or public-key will be published in some list,
new matcher can load orders from that [MATCHER REST API](https://matcher.wavesplatform.com), no

[2019-08-29 09:58] KardanovIR opened #2550 "[BUG] Test bug for integration"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-08-29 11:36] #2550 closed

[2019-08-29 13:06] msmolyakov commented on #2515
Yes. Currently, only Data transactions up to 32 KB can be verified in STDLIB V3. This limit will be removed in the next STDLIB version.

[2019-09-01 14:57] WavescapTorben opened #2552 "[FEATURE] Warning notice for enabling REST API"
From time to time there are nodes with enabled REST API and standard password probably because they are not aware of making their private wallet key public if they didn't change the API key by changing the api-key-hash.
I would like to propose a hint in the config right there where you can enable the API.
Or maybe even better disable endpoints that shouldn't be public if the api-key-hash has not b

[2019-09-02 07:30] pivoo81 commented on #2539
Hi, we have different than UTXO model - accounts.
To spend coins from the account signature must be provided.
Noone can spend coins he haven't on his account. Such transaction would be rejected by miners

[2019-09-02 07:30] #2539 closed

[2019-09-02 07:38] pivoo81 commented on #2531
When you lease your Waves to some node you need to make sure it's reliable.
If it's not - you can choose another node to lease your Waves.

We want leasers to be active users of the Waves ecosystem, so they can empower nodes to generate blocks and govern the Blockchain.
The proposed feature goes against this intention because user can lease Waves and even don't think about the reliability of the n

[2019-09-02 07:39] #2531 closed

[2019-09-02 10:51] pivoo81 commented on #2521
When you use import file form the node which is not on fork you will not have problems.
And this [link](https://blockchain.wavesnodes.com/) provides blockchain import file which our team operates. It's very unlikely that it will be incorrect.

Also for faster getting node operable you can use state downloading [described here](https://docs.wavesplatform.com/en/waves-node/options-for-getting-actual

[2019-09-02 10:51] #2521 closed

[2019-09-02 14:19] pivoo81 commented on #2552
Hi. Yes, we will provide such functionality.
We plan to disable previously used default API-key "ridethewaves!" - it will not work, and require some other not empty API-key.

[2019-09-02 16:02] phearnot commented on #2525
How do you run your node, is it a fat JAR or a DEB package? Could you please attach the logs from two consecutive runs?

[2019-09-03 11:20] dvshur commented on #2520
Hi, @TheWavesGuy, thank you for the feedback! You are right on both counts: it is indeed inconsistent at the moment, and it is not obvious which behaviour is preferable.

We have had the same discussion several times and the tradeoff is inevitably between 'correctness' aka 'Waves is not an asset' vs. convenience — people appreciate being able to get all info in one place.

It is an ongoing discuss

[2019-09-07 15:21] username1565 commented on #2531
Hehheh. Isn't that the sence of leasing?
Just put the money in leasing, and forgot for this on a year.
And no need to keep the node online.
It works so right now.
What active users you talking about?
Rewards for leasing are incoming for each leaser.

[2019-09-10 01:27] username1565 opened #2573 "[FEATURE] Order expiration and auto-prolongation."
**Аbstract**
Is your feature request related to a problem? Please describe.
Maybe yes, but maybe no.
Here: https://github.com/wavesplatform/waves-documentation/blob/master/en/waves-client/frequently-asked-questions-faq/waves-dex/order-time.md
I can see, that maximum age for order is 29 days.
This value can be changed only in [waves-client](https://client.wavesplatform.com/#!/dex-demo), but no more

[2019-09-10 11:54] CryptoBadBoy opened #2575 "[FEATURE] Leasing in Ride"
**Abstract**
Leasing is important function in the waves. But RIDE don't support leasing transaction and does not allow to receive  leasing balance by address. Need functions that will give opportunity for use leasing in RIDE.

**Motivation and Purposes**
In now not allow create LeaseTransaction and CancelLeaseTransaction in ScriptResult. I suggest add LeaseTransaction, CancelLeaseTransaction and l

[2019-09-11 09:57] pivoo81 commented on #2575
Yes, we plan to implement such functionality.

[2019-09-14 07:31] username1565 opened #2586 "[FEATURE] Add the ability to import address by seed on the node"
**Аbstract**
Is your feature request related to a problem? Please describe.
This is not a problem, just additional functional.

**Motivation and Purposes**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [I have the wallet, with waves address, this have the alias, and someone open leasing to this address, but this is not a node, just wallet... But I have the

[2019-09-14 08:02] username1565 opened #2587 "[FEATURE] Off-chain transactions, like yobit-codes"
**Аbstract**

This is not a problem, just request to add new function.

**Motivation and Purposes**

[I cann't convert my assets into some [tradable info-file](https://satoshidisk.com/) or into [codes, like a YOBIT-codes](https://yobit.net/ru/yobicodes/) to make PR for this assets, like info-goods.]

**Specification**

Can you implement something, like [YOBIT-codes](https://yobit.net/ru/yobicodes/

[2019-09-15 08:46] username1565 opened #2588 "[FEATURE] Publish the transaction list for deposit-withdrawals"
**Аbstract**

Yes, sometimes this is a problem,
because there is no any dependency
between transactions of tokens
and transactions in blockchains.

**Motivation and Purposes**

[I can not prove that the transaction on the blockchain is the result of the fact that I brought out the associated tokens].

**Specification**

Can you publish transactions list for each processed deposit/withdrawal, where

[2019-09-15 16:00] username1565 commented on #1642
Bump. To do implementation of this,
you can read this russian topic: https://bitcointalk.org/index.php?topic=5178621
and this russian topic - too: https://bitcointalk.org/index.php?topic=5138639

In this case, total [blockchain height](https://etherscan.io/blocks) and [blockchain size](https://etherscan.io/chart2/chaindatasizefast) will does not matter and significant value for the time of the fir

[2019-09-16 11:05] pivoo81 commented on #2587
Please describe what you want to be implemented in the Blockchain Protocol. Is it needed? Why couldn't it be implemented in some other way?
Now the quality of the proposal is like a raw idea, it's very hard to verify it.

Please take care of developers time, provide more worked proposals.
You can verify your ideas in developers chats in telegram for example here
https://t.me/waves_ride_dapps_dev

[2019-09-16 11:05] #2587 closed

[2019-09-16 11:07] pivoo81 commented on #2588
Description is not clear now.
This question is connected to Coinomat, as I understood.
It's not connected to Waves blockchain protocol, therefore it's not for this repository.

There is new implementation of gateways in development. They plan to provide such information.

[2019-09-16 11:07] #2588 closed

[2019-09-16 11:39] username1565 commented on #2587
Yes, it is raw idea.
If you're interested it, you can programing this yourself - in the best way.
I don’t know how, it could be programmed and implemented better - in the blockchain protocol.
But on https://YOBIT.net it is already implemented, and you can test how it works, there.
The idea is to make from that codes - a digital product,
which anyone could carry with himself, off-chain, like a file

[2019-09-16 13:30] sultana-mnw opened #2596 "Waves Dex Is it possible to create own matcher against the orders in alreay existing matcher?"
Hi Waves Team,

I want to create own dex like dex ethereum. I explore the documentation then i create buy and sell order using wavekeeper.
Here i want to provide and maintain the Dex platform in waves but the problem is orders Fees is transferring to matcher keys. How could i controlled that and how can i create my own matcher key. please a give a possible solution for creating own Dex in waves pl

[2019-09-16 14:01] username1565 commented on #2596
Matcher is semi-decentralized part of WAVES DEX.
All orders are stored on specified matcher.
Read this closed issue, https://github.com/wavesplatform/Waves/issues/1354
and issue in the bottom.

[2019-09-17 05:02] sultana-mnw commented on #2596
for creating own matcher we have run full node ?? or else what steps i need to follow for creating own matcher?

[2019-09-17 13:06] username1565 commented on #2596
At first, you need to configure matcher. [See here the section "Matcher settings"](https://github.com/wavesplatform/waves-documentation/blob/master/ko/waves-full-node/how-to-configure-a-node.md)
If you using old version of the node this will be runned after run the node.
If you using new node, from version v1.0.0, you need to using [dex extensions for the node](https://github.com/wavesplatform/dex

[2019-09-18 08:44] pivoo81 commented on #2573
Blockchain will not accept exchange transaction containing order with expiration time more than 30 days.

[2019-09-18 11:04] sultana-mnw commented on #2596
am getting  error while running this command

**sbt checkPR**
[info] Loading settings for project waves-dex-build from plugins.sbt ...
[info] Loading project definition from /home/sultana/waves-dex/project
[info] Loading settings for project root from build.sbt ...
[info] Loading settings for project dex-generator from build.sbt ...
[info] Loading settings for project dex-it from build.sbt ...
[in

[2019-09-18 12:13] username1565 commented on #2573
Ok. Then, maybe, this is possible to realize, using some scripts on client.

[2019-09-21 22:02] username1565 opened #2621 "[BUG] No auto-repair for damaged blockchain database."
**If this problem can be solved by another way, without resynchronize full blockchain -
tell me please about - how to solve this.**

**Describe the bug**

Node not starting after shut-down after spontaneous power off.

**To Reproduce**

1. Go to 'power button'
2. Click on 'shut-down the power'
3. after damage the database, run the node, and Scroll down to 'the bottom'
4. See error.

**Expected beh

[2019-09-22 00:08] username1565 commented on #2596
`download failed`

[2019-09-22 00:43] username1565 commented on #2621
Damaged blockchain, you can see on this screen:
![damaged_blockchain](https://user-images.githubusercontent.com/39200328/65380744-9f9f8380-dcea-11e9-8058-b811bb715591.jpg)

As you can see, there is does not exists all files, from 7264504 - up to 7264535.
Maybe, need to make writting something data, only after this files already exists, not before.

[2019-09-22 08:01] username1565 commented on #2521
Hello. When .tar archive with blockchain used, and when this is unpacked, after running the node need to verify blocks! To import this... This verification is very slow...
Import blocks, like a synchronization may go on [10-11 hour for that shorter blockchain in this tests](https://github.com/wavesplatform/waves-documentation/blob/master/en/waves-node/options-for-getting-actual-blockchain.md)
And

[2019-09-22 08:22] username1565 commented on #2531
If blockchain is damaged on my node, and I don't want to make re-synchronization, but I have leased waves on my node from someone, will be better to just re-lease this all on the working node, and be able for each lease-giver - to cancel his leasing from the leasing-chain. IMHO.
But this is not easy to programming...

[2019-09-22 09:14] bitSecurities commented on #2596
Thx @username1565 for all previous information and tips, it will be very helpful before starting my own job at own matcher (I am going to do it soon).
By the way, I have one question (I cannot find in the Waves doc) -

Is this needed to install full mining node and run in the production mode by using 1,000 Waves BEFORE install and launch the matcher, definitely? Or running the matcher module canno

[2019-09-22 12:20] roccomuso opened #2622 "transactions ordering ASC or new before param"
**Аbstract**
Ability to paginate using `after` param having txs ordered ASC and not DESC.
Or in alternative a `before` param with txs ordered DESC.

**Motivation and Purposes**
I'd like to use the after param as a cursor to get recent txs. But in order to do that I should have txs returned ASC by timestamp and not DESC by timestamp. Or in alternative have a param like before.

**Specification**
Re

[2019-09-22 17:30] username1565 commented on #2596
@bitSecurities, 1000 WAVES - is minimum Generating Balance for mining node, so this minimum just need for mining node, to generate blocks. This 1000 WAVES can be leased to the empty node, and after 1000 blocks confirmations this node can do mining.
This minimum was been a first Feature Request, accepted and activated, after successfully voting. See: https://dev.pywaves.org/activation/
1000 WAVES n

[2019-09-22 19:31] bitSecurities commented on #2596
@username1565  Thx a lot for the info, that such own matcher will be successfully launched on the node which is just a propagating-blockchain-node, but not a mining-node (generating a block).
My next question is about Waves tokenomics of such a solution, regarding your trial with a succeesful execution the exchange-transacton on your own matcher.

As you have writtne - you attached your Waves clie

[2019-09-23 18:53] username1565 commented on #2596
@bitSecurities, yes. Exchange transactions have [type = 7], and all fees from this transactions receive the matchers. My test-transaction was been included into the block [1679071](https://wavesblockexplorer.com/#!/blocks/1679071) in mainnet blockchain.
This was been [exchange of token IOU1 to WAVES](https://wavesblockexplorer.com/#!/tx/JFkTmSg68bhWEbrriT5nSpsEuTktpgfm2ACEcs5Eju7) from myself - ju

[2019-09-24 00:10] username1565 commented on #2621
You can add inside the node something tools, like this: https://antimatter15.com/2015/12/recovering-deleted-data-from-leveldb/
to recovery the damaged database.
For example: `java -jar waves-all-1.1.2.jar -recover_leveldb`

[2019-09-24 05:58] username1565 commented on #2621
I already found the solution, in the case of damage database or/and corrupt data in the database.
This solution is just copy the folder `data` from `previous copied backup`, and synchronize the rest of `blockchain`.
In the case of importing block from unpacked `.tar`[-archive](http://blockchain.wavesnodes.com/),
anyway need to wait the slow again importing blockchain, and verifying ALL blocks `FRO

[2019-09-24 05:58] #2621 closed

[2019-09-24 07:24] wrwc opened #2625 "How to get signature from PublicKey + Timestamp bytes"
where signature was generated from PublicKey + Timestamp bytes ?

[2019-09-24 08:16] bitSecurities commented on #2596
@username1565  Thank you once again!
Everything is clear now and as you have said  - own matcher is a fantastic tool to launch market making or HFT on Waves blockchain assets,
Really curious what will be with Waves blockchain size after several guys will implement bots for such market making - as mentioned - the blockchain size will be growing very fast in this case. Any 24 hour test of market mak

[2019-09-24 08:45] username1565 commented on #2596
@bitSecurities, I think the fast growing the blockchain size will not be a problem, even for long-term working this system, but if [blockchain optimization](https://github.com/wavesplatform/Waves/issues/1642) will implemented.
In this case, synchronization between nodes, and primary synchronization for each new node will be faster, because no need to save FULL blockchain from genesis block up to l

[2019-09-24 19:21] username1565 commented on #2625
[Node REST API](https://nodes.wavesplatform.com/) allow this
See:
[code]
Address must be a node address - the address, which already imported on the node.

Also, you can sign the message by privkey:
`
POST /utils/sign/{privateKey}
`
Will be better to add signing and verify functions inside waves-client, [because there](https://client.wavesplatform.com/#!/dex-demo) is possible to log-in by privkey.

[2019-09-24 20:16] bitSecurities commented on #2596
@username1565
Yes, such a blockchain optimization could be very interesting way in the future, no doubt.

By the way, I started to launch my own node/matcher installation regarding all your tips (very appreciated), including about installation Waves DEX jar files and making the special *.bat file to take them during starting the node. But I am getting suspended/timeout errors by connection to peer

[2019-09-25 00:24] username1565 commented on #2596
Oww. Your post is unreadable.
You can edit this.
If you want to post the code, just include this into 3-time repeated symbol "`"
[code]
Also, you can using "preview"-tab, before send your post.

_____

You can see active peers here: https://wavesblockexplorer.com/#!/peers
And here: https://wavesexplorer.com/peers
Maybe, some peers are unactive.
Also, maybe you need to unlock jar-file in your firew

[2019-09-25 02:50] username1565 opened #2631 "[BUG] THROW ERROR - need to test v1.1.2 with extensions."
**Describe the bug**

Some error I see, when I try to running node v1.1.2 with extensions.

**To Reproduce**
_______

1. Install Windows.
2. Download [waves-all-1.0.2.jar](https://github.com/wavesplatform/Waves/releases).
3. Download [waves-all-1.1.2.jar](https://github.com/wavesplatform/Waves/releases).
4. Put this files in one folder.
5. Download [dex-1.0.1.tgz](https://github.com/wavesplatform/

[2019-09-25 03:35] username1565 commented on #2596
See this issue https://github.com/wavesplatform/Waves/issues/2631
I have runned matcher with node version v1.0.2 + dex extensions.

[2019-09-25 05:52] bitSecurities commented on #2596
@username1565
Thanks a lot, I will edit my previous post to the more clear structure, as you suggest.
Practically I tried yesterday all above things thanks to your previous tips, including running with or without these additional files of macher.
I didn;t have any problwwm with syncing in testnet - I was connected to peers and got the blockchain. The problem begun on mainnet.

Maybe the reason is

[2019-09-25 07:24] pivoo81 commented on #2587
If you want your proposal to be reviewed please describe it like proposal. Carefully

[2019-09-25 07:46] wrwc commented on #2625
@username1565 ,

Thankyou !!!

But still now i can't get the order-book ( matcher ) response .

I am getting signature & message value form testnet ( https://testnodes.wavesnodes.com/api-docs/index.html ) using privatekey.

PFA.

![Swagger UI](https://user-images.githubusercontent.com/55442133/65580040-8d497200-df96-11e9-8d8a-604b960324ab.png)
![Screenshot from 2019 09 25 13 10 10](https://user-im

[2019-09-25 10:27] vsuharnikov commented on #2625
Hello!

We haven't such REST API method. IMO it's unsafe to send your private key to the NODE and it's better to sign the request by yourself.

## A simple way

Use one of the client libraries: https://docs.wavesplatform.com/en/waves-api-and-sdk/client-libraries.html

## You-really-should-think-twice-or-more-times-way

A signature is required for methods:
* `GET /orderbook/{amountAsset}/{priceAsse

[2019-09-25 11:21] bitSecurities commented on #2596
@username1565
Just for update ... I got a full node mode is working well and a matcher (it seems so, becasue I'm not getting the throw exceptions which you present on the issue #2631 ) on version 1.1.2.

But I'm not sure is this matcher well running on my computer, Because I got two things which I suppose are not compatible with previous descriptions in your posts:
1. I see Swagger of REST API  12

[2019-09-25 14:52] username1565 commented on #2596
@bitSecurities,

What version? v1.1.2? Did you try all steps from that my issue?
This can be repeated in another folder.

As I remember, CORS can be allowed in browser.
Also, you can see here: https://minings.ru/majning-waves/
[code]
And maybe, this can working too, in `matcher`-section.

You can using `netstat -an` too to see IP addresses, where this is already binded.
Also, `127.0.0.6886` is an

[2019-09-25 15:30] wrwc commented on #2625
@vsuharnikov

Hi ,

Kindly check my code below ,

const { base58Decode, base58Encode,concat, publicKey, signBytes } = require('@waves/ts-lib-crypto');

let timestamp = +(new Date().getTime());

let signatures = base58Encode(signBytes('GfSvHejBDJW77avjPvn9ZEsA6KA5ecF8eJWTFgd7wJgQ', concat('3sAZVZZwhP9sGG6xUA3snihb1T9HmvsyfrW5GbvRNiD2', timestamp)))

Response :

signature :  4aJKPVHVYkCDHTfAiytKEdGw

[2019-09-25 18:07] bitSecurities commented on #2596
@username1565
Thanks for your insights.

Regarding my matcher is running on 1.1.2 node - I think the code of dex extension simply doesn't work at my installation, despite no exceptions are alerted..
I tried bind to 0.0.0.0 a moment ago, CORS is obviously enabled, but still I got the strange message of no connection when ... Swagger of 127.0.0.6886 is starting with interface and next this error. It

[2019-09-25 18:44] username1565 opened #2634 "[JUST QUESTION] How to accept WAVES on the site?"
Is there any guides about set up accepting the WAVES on the site, and pay this, like PayPal?
For example, I want to host my own exchanger, like many another here: https://bestchange.ru/
I see WAVES there, and there is aveailable many ways to exchange WAVES to crypto and fiat currencies.

I know, the WAVES address and seed, can be generated client-side, using some scripts,
like this: https://crypto

[2019-09-25 19:14] username1565 commented on #2631
[This guy](https://github.com/wavesplatform/Waves/issues/2596#issuecomment-535142857) cann't run extensins (matcher) for node with version v1.1.2, but he don't see THROW ERROR, when he start this... Hm... Need to test, need to test, need to test!

[2019-09-25 19:19] bitSecurities commented on #2596
@username1565
On my computer (Microsoft Server 2019 + Java SDK 11 Red Hat) the node 1.0.2 doesn't work correctly (Swagger makes exceptions).
But my 1.1.2 node works well on this PC, but with another type of non-working Matcher, apart from your issue #2631

I suppose that these cases come simply from different integrations between Windows versions and Java SDK versions. Probably trying on different

[2019-09-25 19:35] username1565 commented on #2596
@bitSecurities, what throw exception do you receive in console, when you try to run node v1.0.2, by all steps from that issue?
```Can you copy and paste this here?```

[2019-09-25 19:41] username1565 commented on #2587
This is proposal can be described shortly, just as **ANALOG of YOBIT-CODES** or **scretch cards**, for WAVES and all assets in WAVES platform.
Other words the **carried digital assets**.

[2019-09-25 22:48] bitSecurities commented on #2596
@username1565
Below is an extract from console at 1.0.2 (stopping at Swagger). The same conf file works well for 1.1.2 on my machine and the node is stable, including Swagger:

[code]

[2019-09-25 23:24] username1565 commented on #2596
@bitSecurities, very good!
`Uncaught error from thread` says about something is **Uncaught** and maybe, something was been changed...
And... Oww, really!

I see there is published some updates for dex-extensions here: https://github.com/wavesplatform/dex/releases
When I wrote [this issue](https://github.com/wavesplatform/Waves/issues/2631),
I just copied already saved **dex-1.0.1.tgz**, unpack thi

[2019-09-25 23:28] username1565 commented on #2631
For node v1.1.2, need to using dex-extensions v1.0.2.

Also, need to add notification about default api-key-hash, and continue after press any key,
without stop the node, because api-key-hash cann't be generated after this stop.

This issue is closed.

[2019-09-25 23:28] #2631 closed

[2019-09-26 04:30] bitSecurities commented on #2596
@username1565
Congrats that is running already on your machine on 1.1.2 node with dex 1.0.2!

I still on the way.
I use 1.1.2 jar file of the node. I changed libriaries from dex 1.0.1 to dex 1.0.2 on my 1.1.2 node, everything works as a node (including Swagger with REST API on 127.0.0.1:6869), but I cannot see any opened port 6886 nor Matcher REST API on 127.0.0.1:6886), netstat -an presents:
[cod

[2019-09-26 06:26] narmathamuthu opened #2635 "How to get the mathcher Fee ?"
Hi Team ,

How to manage the my "MATCHER Accounts" ?

Then how to get or view the my Matcher Fees ?

I got matcher address ( public key ) using given link.

Link : https://matcher.testnet.wavesnodes.com/api-docs/index.html#!/matcher/getMatcherPublicKey

But i don't know where to manage my matcher account details , my matcher balance ( Fees ) and other matcher settings.

So please any one guide to

[2019-09-26 06:59] osiz-blockchainapp opened #2636 "Not getting response from matcher Api?"
Hi,
For creating own matcher i use waves-testnet_1.0.2_all.deb file
Os : ubuntu 16

Config File :

`# Waves node settins
waves {
 blockchain.type = TESTNET
  # P2P Network settings
  network {
    # Network address
    bind-address = "0.0.0.0"

    # Port number
    port = 6863

    # Node name to send during handshake. Comment this string out to set random node name.
    node-name = "MyTESTNETnod

[2019-09-26 07:23] username1565 commented on #2596
Hm... I don't understand the reason, why matcher not binded to specified IP addresses.
Maybe you need to unlock something in firewall, or add exception for `.bat`-`.cmd`-files or conf.

Also, you can try to run v1.1.2 with dex-1.0.2 extensions
[code]
and with this config - **node_test.conf**:
[code]
________________________________________
I see in `netstat -an`
[code]
I don't see this binded on 1

[2019-09-26 12:00] bitSecurities commented on #2596
@username1565
Thank you very much!
Finally I got it's working :)

Your conf file helped me so much to verify potential mistakes in my conf:
[CRITICAL WHAT I SUPPOSE] I was in such a configuration of network port = 6886, what I can see there is used the same port 6883 independent from TESTNET OR MAINET OR ..
So, have I used your setting:
[code]

Also I corrected several other things regarding the s

[2019-09-26 13:31] sultana-mnw commented on #2596
@username1565  @bitSecurities

Am using waves-testnet_1.0.2_all.deb in ubuntu16 Os.am not getting any response from matcher api. only this api working  http://127.0.0.1:6869/api-docs/index.html#!/node/version.

config file
`# Waves node settins
waves {
 blockchain.type = TESTNET
  # P2P Network settings
  network {
    # Network address
    bind-address = "0.0.0.0"

    # Port number
    port = 68

[2019-09-26 13:32] sultana-mnw commented on #2596
@username1565  @bitSecurities

Am using waves-testnet_1.0.2_all.deb in ubuntu16 Os.am not getting any response from matcher api. only this api working  http://127.0.0.1:6869/api-docs/index.html#!/node/version.

config file
`# Waves node settins
waves {
 blockchain.type = TESTNET
  # P2P Network settings
  network {
    # Network address
    bind-address = "0.0.0.0"

    # Port number
    port = 68

[2019-09-26 15:28] vlzhr commented on #2634
Hey, @username1565! It'd be more convinient to discuss these things in the Waves official Dev chat: https://t.me/waves_ride_dapps_dev. Please resend your questions to it and feel free to ask there for any other assistance.

[2019-09-26 20:19] username1565 commented on #2596
@bitSecurities, I reccomend you to do `backup` the folder `data`, with `leveldb blockchain database`, after full syncronization.
Some errors there is possible, when this database can be corrupted,
exapmle here: https://github.com/wavesplatform/Waves/issues/2621
So you can just copy this data from backup, and synchronize only last blocks, not full blockchain again and again.

@sultana-mnw,
This str

[2019-09-26 20:30] username1565 commented on #2635
https://w8io.ru/YOUR_WAVES_ADDRESS/

[2019-09-26 20:38] username1565 commented on #2636
[code]
In the end of file.

[2019-09-27 00:47] mtuktarov commented on #2586
Hi @username1565! Thanks for submitting this issue! Instead of using REST-API, you should use Waves node configuration file. By default, it's located in **/etc/waves/waves.conf**. I suggest not changing this one, but creating **/etc/waves/local.conf**. By default, **waves.conf** includes **local.conf** - confirm that by checking the last string in **waves.conf**. It should be
[code]
Now add follow

[2019-09-27 01:39] username1565 commented on #2586
Hi, @mtuktarov!
I'm using `.jar`-file on `Windows`, not `Linux`.
The configuration file name is `node_extensions.conf`, and this is exists in the same directory, where `.jar`-file with node exist.
I'm starting this, using `.bat`-file, with strings:
[code]
I see the string:
[code]
inside `node_extensions.conf`, but I don't know where is this file `local.conf`.

I did just unpack `waves-all-1.1.2.ja

[2019-09-27 05:44] osiz-blockchainapp commented on #2636
Is that any required account have to be minimum balance is needed for enabling matcher?

the following below command is similar for testnet also
[code]

we have put same api-key-hash for enabelling the restapi

`rest-api {
# Enable/disable node's REST API
enable = yes

# Network address to bind to
bind-address = "0.0.0.0"

# Port to listen to REST API requests
port = 6869

# Hash of API key string

[2019-09-27 07:03] username1565 commented on #2636
No need balance to enable matcher.
Api-key-hash must be changed in config, because node not started then.
Read that issue **carefully**. There you can find the answers for all your questions.

[2019-09-27 07:13] sultana-mnw commented on #2636
Thanku you.
Another one doubt I make changes in config file then istarted node again if the changes will reflect or  need to start it again from initial.

[2019-09-27 07:37] username1565 commented on #2636
Will be better to disable the node, then make change, save it, and then start the node.
Need restart the node with new config, after save this.
No need to download blockchain again.

[2019-09-27 08:47] mtuktarov commented on #2586
@username1565 well, there is no sense to lease tokens to the address which is not specified in the Waves node configuration - in your case in `node_extensions.conf`. If it's not specified (i.e. it is not a `node-address`) then such an address can not do mining. You should specify the address you want to use for mining in the Waves node config. Please let me know if you have any questions.

[2019-09-27 11:36] wrwc commented on #2635
@username1565 Okay.

The private node configuration need or not for using matcher functionality ?

 8QUAqtTckM5B8gvcuP7mMswat9SjKUuafJMusEoSn1Gy = > This public key common for test net ?

Because i seen more transactions.

[2019-09-27 11:39] narmathamuthu commented on #2635
@username1565 Okay.

8QUAqtTckM5B8gvcuP7mMswat9SjKUuafJMusEoSn1Gy => This public key common for test net ?

Because i seen more transactions.

Then the private node configuration needed or not for using matcher functionality ?

[2019-09-27 19:54] username1565 commented on #2586
I cann't say about it to the leasers. I just sent 1 READ Attachment, with description, but no any result.
Yes, I still have the questions.
Can the node working with many addresses? [Yes, it can.](http://dyndns-node.duckdns.org:6869/addresses)
So, can you programming `import` the address to the node by specified seed, using NODE REST API?

[2019-09-27 21:07] username1565 commented on #2635
Yes, this is default value from default example config.

[2019-09-27 22:33] username1565 commented on #2634
Oww, I did not registered in telegram, and will not to be, because there need to specify my own phone number.

[2019-09-28 11:10] mtuktarov commented on #2586
Node uses only one address for mining.

[2019-09-28 13:33] username1565 commented on #2586
Hm... I don't see where is `one address` of the node is specified in `configuration file`.
This can be specified only for `matcher`.
And I think, address is contains inside encrypted `wallet.dat`.
In this case, when new address is generated, using [NODE REST API](http://nodes.wavesplatform.com/):
`
POST /addresses
`
this new address is added inside `wallet.dat`.
And if, after this address was ben

[2019-09-30 08:09] osiz-blockchainapp commented on #2636
Matcher node will be enabled after syncing  all the node or else at initially when the node was started.

[2019-09-30 09:54] wrwc opened #2639 "Cancel Order Not Working"
Hi ,

If possible to cancel the order using order id ?

I trying that method but i got error ( PFA ) .

![Swagger UI(3)](https://user-images.githubusercontent.com/55442133/65868656-501a2100-e396-11e9-99e3-bd2e03139d36.png)

Where to get the API Key ? Then how to provide the API Key ?

[2019-09-30 10:32] phearnot commented on #2622
Hi @roccomuso, thanks for reaching out.
In order to get the most recent transactions, you can use an use the existing API. Suppose `tx_id` is the most recent transaction you've loaded "the last time". Loading transactions between `tx_id` and now can be achieved by repeatedly calling `/transactions/address/{address}/limit/{limit}` and changing `after` param to the last transaction's id, and then so

[2019-09-30 11:30] username1565 commented on #2634
Is it possible to connect specified WAVES-token on the site?

[2019-09-30 11:45] roccomuso commented on #2622
It's a workaround that will require multiple calls (not so convenient for wallets having a lot of txs), I think would be easier to improve api server-side introducing a `order` param

[2019-09-30 13:04] osiz-blockchainapp commented on #2636
Hi, as per your suggestion i have edit my config file and then i restarted the waves node but again am getting response only node api but not matcher api.

//waves-testnet_1.0.2_all.deb file
//Os : ubuntu 16

config File :
` ` `
# Waves node settings
waves {
  # Node base directory
  #directory = ${user.home}"/waves"		# replaced from
  directory = "./data"					# replaced to /data

  # Node data di

[2019-09-30 14:22] mtuktarov commented on #2586
@username1565 I discussed this issue internally. You are correct - generated addresses are kept in the **wallet.dat** file and there is no way to import an existing one. As such, the feature request is valid but I need to clarify more details to forward the clear scenario to devs. Please clarify:
1. Do both addresses have more than 1000 Waves?
2. Do you use both for mining? Why not using only one

[2019-09-30 16:13] username1565 commented on #2586
Hi, @mtuktarov!
I already provided the info in the previous posts, but I will repeat this again.
1. Yes. I have two addressed. Address for the mining on the node, and address for the trading.
2. No, but I want it.
3. Yes I do. I have the node, set up this, and open the ports. Also, I have configured matcher, just for tests.
4. I cann't host two nodes, because I have no enough size on my disk, and

[2019-09-30 16:43] username1565 commented on #2636
Did you include correct pathways for dex-extensions?
For node 1.0.2 need dex-1.0.1 extensions.

Also, as I said earlier, read [this issue](https://github.com/wavesplatform/Waves/issues/2596) carefully.

[2019-10-01 08:25] msmolyakov commented on #2634
Deposit-withdrawals are just transactions in blockchain. To sign and send these, you can use [Waves Keeper API](https://github.com/wavesplatform/waveskeeper) or any client Waves library for your preferred programming language. For example, [waves-transactions](https://github.com/wavesplatform/waves-transactions) for JavaScript.

How to get any information - see [Swagger documentation for Node API]

[2019-10-01 08:41] msmolyakov commented on #2515
closed due inactivity. Please feel free to reopen the issue if you still have questions

[2019-10-01 08:41] #2515 closed

[2019-10-01 10:34] osiz-blockchainapp commented on #2636
Hi, thank you for your valuble response.
After installing dex-1.0.1 deb file what step i need follow to for debian files. In this reference issues am seeing only dex using jar and tar files not for deb files. i refer docs and github also there is no clear explanation for Debian os.

or we have to use same  [https://github.com/wavesplatform/Waves/issues/2631](url) below steps for ubuntu os also ?

[2019-10-01 13:13] username1565 commented on #2636
Hi, @osiz-blockchainapp.
Those steps was been specified to reproduce that error by repeating it again, and see fix that error. After all, I'd fix this myself. Just was been using different versions, so that issue is closed.

See here the info about setup the `.deb`-files on linux (Ubuntu): https://github.com/wavesplatform/dex#6-installing-and-running

`sudo dpkg -i deb-artifact.deb`, where deb-art

[2019-10-01 13:33] narmathamuthu commented on #2635
@username1565 Okay.

Then how to get separate matcher public key ?

[2019-10-01 14:10] username1565 commented on #2634
Hi @msmolyakov! Thanks for your info!

But this issue was been opened to get the guide of optimal include deposit-withdrawals some token on the side.
I just want to know how to organize this by optimal way, using this all.
For example, I want to add on the site the ability of deposit the specified tokens to account,
and withdraw this tokens to the address of user.

You say about I can sign transac

[2019-10-01 14:29] username1565 commented on #2639
`api-key-hash` you can see in [config](https://github.com/wavesplatform/waves-documentation/blob/master/ko/waves-full-node/how-to-configure-a-node.md)

To calculate this `api-key-hash` from your `API_KEY` as `opened-text`,
use on [NODE REST API](https://nodes.wavesplatform.com/api-docs/index.html) the directive:
[code]
[Example](https://www.google.com/search?q=H6nsiifwYKYEx6YzYD7woP1XCn72RVvx6tC1z

[2019-10-01 14:35] username1565 commented on #2635
@narmathamuthu, you need to [configure](https://github.com/wavesplatform/waves-documentation/blob/master/ko/waves-full-node/how-to-configure-a-node.md) your address on the node. Also, you can get address from the public key.
As you can see on the [NODE REST API](https://nodes.wavesplatform.com/api-docs/index.html),
there is special directive to do this:
[code]
And, as you can see here: https://mat

[2019-10-01 14:40] narmathamuthu commented on #2635
@username1565 Okay.

First i need to install the NODE on my server , and need to configure my matcher address .

Its  correct ?

[2019-10-01 14:53] username1565 commented on #2635
@narmathamuthu, yes. You need to configure your node at first.
Also, read [this issue](https://github.com/wavesplatform/Waves/issues/2596) carefully, if you have any questions to configure your matcher.

[2019-10-01 14:54] narmathamuthu commented on #2635
@username1565 Okay thank you !!!

[2019-10-01 14:57] username1565 commented on #2635
@narmathamuthu. If you have any questions, just ask this.
Have a nice day.

[2019-10-01 15:02] msmolyakov commented on #2634
Yes, you can create, sign and send transaction from client side.

To check that transaction is in blockchain, you can call `transactions/info/{txId}` endpoint instead of `transactions/address`.

Store seed on server is bad idea. Propose users to use Waves Keeper or store user's seed in local storage of his browser, but notice him to backup seed.

[2019-10-01 15:17] username1565 commented on #2635
Yes. links on github pages can working incorrect, because there is changed pathways.
You can see this documentation here, too: https://docs.wavesplatform.com/en/waves-node/how-to-install-a-node/how-to-install-a-node.html

[2019-10-01 15:39] #2634 closed

[2019-10-01 15:40] msmolyakov commented on #2634
Yes, you can get tx id without blockchain.

No, we haven't any plan about analog of this service. Feel free to create your own :)

[2019-10-01 15:54] msmolyakov commented on #2639
This is admin endpoint. You can't have access to api-key.

To cancel order as user, see `/matcher/orderbook/{amountAsset}/{priceAsset}/cancel` endpoint

[2019-10-01 17:02] mtuktarov commented on #2586
@username1565 thanks! I got you and submitted a feature request. May I ask you a question? So, let's imagine Waves node allows you to do mining using several addresses and it is possible to import them via REST API. Some time ago you generated a new address to keep money in safety. Today someone leases tokens to your new address, hm, will you start mining just to return a reward? By the way, do yo

[2019-10-01 17:02] #2586 closed

[2019-10-01 20:43] username1565 commented on #2586
Hi, @mtuktarov!

Yes, of course.

This will be a nice, because my unspent coins can staking, even while I do trading.

Yes! Yes!
Firstly, my node is installed on an encrypted hard drive and on my computer.
Secondly, I can log in with my address, and I can transfer my money at any time, from anywhere, if I suspect something, or if a certain signal works.
Also, I want to pay for each my leasers, jus

[2019-10-02 09:53] mtuktarov commented on #2586
Hey, I enjoyed this reading! Regarding API-key hashes - yes, it can be brute-forced and hash collisions are possible. We should be fine - those guys are already busy mining bitcoins... ;) However, if one of them suddenly discovers this topic and decides to chase us, let's configure the firewall - close REST API from the public. IP filtering should be enough.
Next, regarding VPS hosts - easy-drizzy

[2019-10-02 10:24] pivoo81 commented on #2586
@username1565 You request is valid. And we will do this feature of mining from different addressed in future. Now I can't tell exact release for it.

[2019-10-02 17:07] username1565 commented on #2625
Hello, @vsuharnikov! I have another questions about signing.
I see libraries, link on which you privided here, working with transactions.
But... What about singing and verify messages?
I think this is possible to make client-side, so I did open [this issue as future request for WAVES-client](https://github.com/wavesplatform/WavesGUI/issues/1610).

**TL;DR**, go to **Summary**.
But... I see some me

[2019-10-02 20:59] KitsanaTanchai opened #2643 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-10-02 20:59] KitsanaTanchai opened #2644 "[FEATURE]"
**Аbstract**
Is your feature request related to a problem? Please describe.

**Motivation and Purposes**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...].

**Specification**
A clear and concise description of what you want to happen. Describe alternatives you've considered

**Backwards Compatibility**
Can your proposition affect any existing features?

*

[2019-10-02 20:59] KitsanaTanchai opened #2645 "[FEATURE]"
**Аbstract**
Is your feature request related to a problem? Please describe.

**Motivation and Purposes**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...].

**Specification**
A clear and concise description of what you want to happen. Describe alternatives you've considered

**Backwards Compatibility**
Can your proposition affect any existing features?

*

[2019-10-02 21:44] username1565 commented on #2625
@wrwc, maybe, this code can help you:
https://waveswallet.io/js/waves-lite-client-mainnet-0.5.22.js
[code]

Also, you can save this script, as `.js`-file, then create `index.html` with code:
[code]
open this `index.html` in browser, and in console (F12 button), run the command:
[code]
and the command:
[code]
Example, the time-stamped message, signed by my private key of my node:
[code]
As you can

[2019-10-03 08:39] #2644 closed

[2019-10-03 08:46] #2645 closed

[2019-10-03 11:29] br0x opened #2646 "[BUG] NoSuchElementException: None.get"
**Describe the bug**
There are frequent (once per couple minutes) errors in the Node log:
[code]
**Additional context**
These problems seem to be started several days ago, after Feature 14 approved

[2019-10-04 21:50] deemru opened #2649 "[FEATURE] Enhance stateChangesById for sponsored transactions"
**Аbstract**
Currently there is no trivial way to get how much WAVES sponsor pays for his sponsored asset in fees in transactions.

**Motivation and Purposes**
It hard to maintain the state of sponsorships database, lets use stateChangesById in the way you did for invoke script transactions.

**Specification**
Enhance GET /debug/stateChanges/info/{id} where sponsored asset is used for a fee to get

[2019-10-05 08:19] osiz-blockchainapp commented on #2636
Hi @username1565 i  have tried in linux but only the nodes are syncing matcher is not enabeling.

In windows the node and matcher api is enabled ( waves public testnet) in local machine.
and my questions are
 1.I want to test the sell/buy order creation using my matcher public key.
so if i submit my orders using my  local machine ip as url and matcher key can reflect in public test node?

2. Tradi

[2019-10-05 19:49] username1565 commented on #2636
Hi, @osiz-blockchainapp.
I don't know why your matcher not enabled on linux. You can just google the documentation.
Maybe you cann't run dex extensions [without setup some environment](https://github.com/wavesplatform/dex/blob/master/README.md).

1. Yes, this may to be working, if you using waves-lite-client. Because there is no need https, and this can working over http. I did'nt test local ip ov

[2019-10-06 13:00] #2643 closed

[2019-10-07 16:49] phearnot commented on #2639
Closing due to inactivity. Please feel free to open other DEX-related issues in the [DEX](https://github.com/wavesplatform/dex/issues) repo.

[2019-10-07 16:49] #2639 closed

[2019-10-09 13:05] sultana-mnw commented on #2596
hi @username1565

am getting this while running starting the waves node

`]: Started Waves node.
Oct 09 18:33:23 waves[10574]: INFO  c.w.Application$ - Starting...
Oct 09 18:33:23  waves[10574]: INFO  a.event.slf4j.Slf4jLogger - Slf4jLogger started
Oct 09 18:33:23  waves[10574]: INFO  c.w.Application$ - Waves v1.0.2 Blockchain Id: T
Oct 09 18:33:23  waves[10574]: ERROR c.w.actor.RootActorSystem$ -

[2019-10-09 17:21] username1565 opened #2654 "Can't get seed from address on the node."
**Describe the bug**

`GET /addresses/seed/{address}` - not working correctly. This is not returning the seed, this is returning some base58 encoded string.

**To Reproduce**

1. Go to 'the local [Node REST API](https://nodes.wavesplatform.com/api-docs/index.html) with your API key.'
2. Click on `Addresses`->`GET /addresses`, and get addresses on the node. Copy this address.
3. Scroll down to '`GE

[2019-10-09 19:53] username1565 commented on #2654
Also, is there any explanation, about `wallet.dat` format?
I see there is base64 encoded data.
After decoding this to hex, I see some value in the end of this data,
and this value seems like hash (32 bytes).
After new address created, I see come additional data (+48 bytes), and new regenerated string in the end (+32 bytes, seems like hash).
So, as I understand, all data about new generated address

[2019-10-10 01:50] username1565 opened #2655 "[FEATURE] Add ability to request payments for leasing."
**Аbstract**

Yes. Scripts for autopayments can pay for leasing to the users, who are inactive, in this case all system is loss the WAVES.

**Motivation and Purposes**

So I want to propose add the ability to request payments for leasing.

**Specification**

When user cansel the leasing, he got only his leased waves, and lost comissions.
But in this case, user is active. Another leasing will be co

[2019-10-10 09:48] osiz-blockchainapp commented on #2636
@username1565 Hi,
am getting error while creating orders using my own matcher. I don't know why.

**Error**
` {"orderType":"sell","version":2,"assetPair":{"amountAsset":"WAVES","priceAsset":"DWgwcZTMhSvnyYCoWLRUXXSH1RSkzThXLJhww9gwkqdn"},"price":361,"amount":120000000,"timestamp":1570700296558,"expiration":1573205896558,"matcherFee":300000,"matcherPublicKey":"EjXM29R9X2fAiSGYtpoeVj2wUbvNmJzJnEcffH

[2019-10-10 10:02] username1565 commented on #2636
Hi, @osiz-blockchainapp!
[code]

[code]

[code]

[2019-10-10 10:12] osiz-blockchainapp commented on #2636
I already tested after changing my config file but after that am getting same error response

**config file:**
`# Waves node settings
waves {
  # Node base directory
  #directory = ${user.home}"/waves"		# replaced from
  directory = "./data"					# replaced to /data

  # Node data directory (LevelDB)
  data-directory = ${waves.directory}"/data"

  # LevelDB's internal cache size (in bytes)
  leveld

[2019-10-10 13:00] phearnot commented on #2654
Just as stated in the endpoint description, `/addresses/seed/{address}` returns account seed value which is used to derive the key pair which corresponds to the given `{address}`, not the "main" seed. See [cryptographic details](https://docs.wavesplatform.com/en/blockchain/waves-protocol/cryptographic-practical-details.html) for more info.

After creating a new address with `POST /addresses`, you'

[2019-10-10 13:01] phearnot commented on #2646
Fixed in #2651

[2019-10-10 13:01] #2646 closed

[2019-10-10 13:02] phearnot commented on #2525
Closing due to inactivity. Please feel free to reopen when relevant details emerge.

[2019-10-10 13:02] #2525 closed

[2019-10-11 03:21] username1565 commented on #2654
Thanks. I just did decode this seed string to bytes, calculated sha256-hash from this string, and then sucessfully got keypair. So, you're right, this is not a bug.
But you can add some description there, or title tooltip, if you want.

Best regards.

[2019-10-11 03:21] #2654 closed

[2019-10-11 04:26] username1565 opened #2657 "SSL, HTTPS. TLS 1.2 not deprecated, and many browsers not supporting TLS 1.3"
**Describe the bug**

https://github.com/ and https://nodes.wavesnodes.com/
is using the both TLS versions, 1.2 and 1.3 (if this is available).
Disabling the TLS 1.2 make the resource shutdown for many browsers,
because there is no backward compatibility:
[code]

**To Reproduce**

1. Go to 'https://nodes.wavesplatform.com/'
2. Click on 'HTTPS'
3. Scroll down to 'TLS version'
4. See error (TLS vers

[2019-10-11 09:17] osiz-blockchainapp commented on #2636
@username1565  Hi, Any update regarding the above issue?
I tested orders after editing config files .

` price-assets = [
     "WAVES",
     "Fmg13HEHJHuZYbtJq8Da8wifJENq8uBxDuWoP9pVe2Qe",
     "HyFJ3rrq5m7FxdkWtQXkZrDat1F7LjVVGfpSkUuEXQHj",
     "2xnE3EdpqXtFgCP156qt1AbyjpqdZ5jGjWo3CwTawcux",
     "6pmDivReTLikwYqQtJTv6dTcE59knriaodB3AK8T9cF8",
     "DWgwcZTMhSvnyYCoWLRUXXSH1RSkzThXLJhww9gwkqdn",

[2019-10-11 10:50] username1565 commented on #2636
Hm...
I'm sorry, but anyone can help him?
I'm on Windows, and didn't try to run matcher on linux (Ubuntu).
But I see here: https://github.com/wavesplatform/dex/#6-installing-and-running
need to using special options to run the node dex-extensions,
and I think this not runned, because matcher just was not binded to specidied port in config.

[2019-10-11 11:01] osiz-blockchainapp commented on #2636
Hi I am also trying in windows machine. The rest api 127.0.0.1:6869 and matcher 127.0.0.1:6886 was enabled and also  i succesfully tested placing orders using the **Bitcoin/ WAVES** but i could not place orders using **WAVES / Bitcoin** pairs. kindly let me know what am missing or doing wrong.

[2019-10-11 11:51] username1565 commented on #2636
@osiz-blockchainapp, try to specify one string for each from this string:
[code]
Maybe one specified string is just override another.
Also, if you using waves-lite-client, you can just switch pairs on a client-side.

[2019-10-12 08:11] username1565 opened #2660 "Leasing the tokens using scripts or smart contracts."
**Аbstract**

No, this is not a problem.

**Motivation and Purposes**

**Specification**

Ability to lease or lock the tokens for some time, without transfers, and keep this in staking,
(for fixed time or custom time, before cancel leasing),
and pay fixed percentage or profit with compounding.
Do this using some scripts or smart contracts, like this already realized for ethereum tokens.

**Backwar

[2019-10-13 08:39] br0x commented on #2596
[code]
Just check you data directory and all files within have owner "waves" and group "waves"

[2019-10-14 08:39] sultana-mnw commented on #2596
Hi, thanks the above issue is resolved.
Another one doubt the sell/buy order fees 0.003 WAVES can be reduce after each successful transaction from buyer/seller is that is default or we can modify that.

[2019-10-14 09:04] d8paul opened #2661 "Provided API key is not correct"
I always get "Provided API key is not correct" when i generate a string for the api_key to use

[2019-10-14 13:15] pivoo81 commented on #2660
Do you want to lease tokens, not Waves?
You can implement it via script yourself.

[2019-10-14 13:23] pivoo81 commented on #2655
Proposed functionality is not subject of the Node. User can signal that he is active (if it's truelly needed) by sending some tx. Paying script can watch for outgoing transactions by address.

If the node owner wants some special protocol confirming user alive he can implement it without blockchain and use even button for this, but in this case blockchain not needed.

[2019-10-14 13:23] #2655 closed

[2019-10-16 13:05] phearnot commented on #2661
Would you please describe how you generate a string?

[2019-10-16 13:49] mtuktarov commented on #2657
Hi @username1565
Please advise what you mean in step 2 **Click on 'HTTPS'**? Where is such a button?
In brief, we failed to replicate. Please provide us with the exact steps and screenshots if possible ;)

[2019-10-17 09:01] username1565 commented on #2657
Hi, @mtuktarov.
See this screens:

![wavesplatform com_TLS1 3](https://user-images.githubusercontent.com/39200328/66994249-9fba5580-f0d5-11e9-8c1c-7281e76d37bc.png)
![wavesnodes com_TLS1 2](https://user-images.githubusercontent.com/39200328/66994250-9fba5580-f0d5-11e9-908f-2cf540a9a8b6.png)

As you can see, wevesnodes.com us supporting both TLS 1.2 and TLS 1.3, but wavesplatform using only TLS 1.3

[2019-10-18 04:52] narmathamuthu commented on #2635
@username1565  Okay Fine.

I have another one doubt. How to get all transactions/exchange using matcher address.

[2019-10-18 11:20] username1565 commented on #2635
@narmathamuthu, https://w8io.ru/MATCHER_ADDRESS/

[2019-10-18 13:54] phearnot commented on #2657
Both nodes.wavesplatform.com and nodes.wavesnodes.com support TLS 1.2, you can check this with openssl:
[code]
I assume the browser on the upper screenshot picks up the most recent version it supports, this is why it's using TLSv1.3. Could you please share the exact versions of browsers you're using which have issues with nodes.wavesnodes.com?

[2019-10-18 21:37] username1565 commented on #2657
For example, when I try to open https://nodes.wavesplatform.com/
the Google Chrome 34.0.1847.131 m, say me the following throw error in console.log()
[code]
But https://nodes.wavesnodes.com/ opening good there, and I see HTTPS is working, with TLS 1.2. That means, something on your server side - is not saving the backward compatibility,
and waves-lite client cann't working in this case, with defau

[2019-10-19 07:40] narmathamuthu commented on #2635
@username1565 Okay.

This is our Matcher Address :  3N8RaYaYQEYTENbMLxYRsyWUQWzqALHjmw4

But we got the different responses  from following URLs .

https://w8io.ru/3N8RaYaYQEYTENbMLxYRsyWUQWzqALHjmw4

https://wavesexplorer.com/testnet/address/3N8RaYaYQEYTENbMLxYRsyWUQWzqALHjmw4/tx

I need to get all exchanges based on asset pair.

Can you please explain ?

[2019-10-19 10:22] username1565 commented on #2635
@narmathamuthu,

`testnet`

working with mainnet.

If you want to see testnet, add `testnet.` prefix in the beginning of domain name:

Also, you can filter transactions by type.
MATCHER transactions have type 7: https://testnet.w8io.ru/3N8RaYaYQEYTENbMLxYRsyWUQWzqALHjmw4/t/7

[2019-10-19 12:15] narmathamuthu commented on #2635
@username1565 Wow. Okay fine thank you so much.

I have done **w8io** in my local system.

But we got blank page.

PFA.
![Screenshot from 2019-10-19 17-44-37](https://user-images.githubusercontent.com/55826071/67144765-2b7bdf80-f298-11e9-892d-39dbb4d53d88.png)

Please explain what we need do to done ?

[2019-10-19 14:19] username1565 commented on #2635
@narmathamuthu, hehheh! Nice. There need to be synchronized and parsed all blockchain in database, because w8io.ru using their database.
You did download just a scripts.
Ask him, how to, I'm interesting too, but I didn't install this block explorer.
I did sucessfully installed [old](https://github.com/wavesplatform/WavesExplorerLite/tree/old-explorer) and [new](https://github.com/wavesplatform/Wav

[2019-10-19 14:28] narmathamuthu commented on #2635
@username1565. Okay Fine.

I have done node configuration.

So now i am need API functionality ( Like https://api.testnet.wavesplatform.com/v0/transactions/exchange?matcher=3N8aZG6ZDfnh8YxS6aNcteobN8eXTWHaBBd&amountAsset=BrmjyAWT5jjr3Wpsiyivyvg5vDuzoX2s93WgiexXetB3&priceAsset=WAVES&limit=1 ).

So how to access the node database ?

[2019-10-19 16:12] username1565 commented on #2635
@narmathamuthu, hm... I see some JSON there.
You can get JSON from Matcher API, by using GET-queries: https://matcher.wavesplatform.com/matcher/orderbook
The same response, like https://matcher.wavesplatform.com/api-docs/index.html -> "/matcher/orderbook" -> Click button "Try it out".
But I just opened this https://api.testnet.wavesplatform.com/v0/ and follow that links. I see https://github.com/w

[2019-10-21 11:59] phearnot commented on #2657
According to [Wikipedia](https://en.wikipedia.org/wiki/Google_Chrome_version_history), Chrome 34.0.1847 was released in April 2014 (over five years ago!) and is no longer supported. I highly discourage using discontinued versions of any software, especially web browsers.

By the way, Waves Lite Client has been deprecated and is no longer supported. However, as long as source code is available, you

[2019-10-21 11:59] #2657 closed

[2019-10-22 03:09] username1565 commented on #2657
Yes, but I want to warn you that first of all, you should think about
how to ensure maximum backward compatibility,
instead of forcing your old investors
to buy new devices and licenses
for modern, updated and newer software.

Have a nice day.

[2019-10-22 11:23] narmathamuthu commented on #2635
@username1565  Okay thank you !!!

I have implemented data-service functionality ( https://github.com/wavesplatform/data-service ).

But i can't run Can't run Docker and NodeJS.

I have run this cmd - ( docker run -p=:3000 --env-file=variables.env wavesplatform/data-service )

I got following error ( PFA )

![Screenshot from 2019-10-22 16-46-30](https://user-images.githubusercontent.com/55826071/6

[2019-10-22 15:20] username1565 commented on #2635
Maybe you have not installet this, or not specified some environment variable.
Anyway this can be resolved here: https://github.com/wavesplatform/data-service/issues/272

[2019-10-23 07:34] narmathamuthu commented on #2635
@username1565

 I still don't understand why this API needed? ==> I have completed private node.

So i need to get all exchange history ( link this - https://api.testnet.wavesplatform.com/v0/transactions/exchange?matcher=3N8aZG6ZDfnh8YxS6aNcteobN8eXTWHaBBd&amountAsset=WAVES&priceAsset=DWgwcZTMhSvnyYCoWLRUXXSH1RSkzThXLJhww9gwkqdn ) .

And also i need to get chart data ( link this  -  https://api.te

[2019-10-23 12:24] amurdev commented on #2515
Please explain what is an approach to close an actual issue 'due inactivity'?
Previously it was confirmed that problem exists. That why there are 2 option to close it - either update documentation or fix STDLIB.

[2019-10-23 14:43] username1565 commented on #2635
For me was been enough to set on the old node the [WAVES DATAFEED API](https://github.com/PyWaves/WavesDataFeed), like this: https://marketdata.wavesnodes.com/
and using this locally.
In this case in [Waves-lite-client](https://github.com/username1565/waves-lite-client) is possible to see candles, and the history of old orders, even if this DATAFEED API was been runned locally.

But this is workin

[2019-10-24 07:42] narmathamuthu commented on #2635
@username1565 Okay fine.

May i know the testnet URL for waves datafeed API.

If possible to build the Waves Data Feed API for in our node ?

[2019-10-24 17:12] br0x opened #2686 "1.1.4 WARN UtxPoolSynchronizerImpl - Error validating transaction"
_Many warnings like this:_
[code]

[2019-10-24 21:52] pasomoaikai commented on #835
@alexeykiselev, in a situation were the token is a waves base token and needs to be swapped to an erc20 token how do you go about that?

[2019-10-24 21:53] pasomoaikai commented on #835
Is there a link on how to conduct the swap?

[2019-10-29 08:52] ksemaev opened #2693 "RXSS via outdated swagger version"
/api-docs endpoint is vunerable.

The XSS is exploitable due to the lack of input validation on the value of the url= in the swagger.json file itself.

I won't share the exact actions to reproduce, but update the swagger framework to the latest version.
Cross site scripting attacks can be used by attackers to achieve several different goals. For example, stealing cookies, stealing everything store

[2019-10-29 09:36] phearnot commented on #2661
Closing due to inactivity. Please feel free to reopen once more details are available.

[2019-10-29 09:36] #2661 closed

[2019-11-06 12:48] ksemaev opened #2709 "Waves 1.1.5 stuck on fork"
Got my waves-node stuck on block `1783307`

The error is:

[code]

[2019-11-08 15:45] cyberbudy opened #2714 "Waves getting stuck after some time"
**Describe the bug**
After some time(about a day) of synchronizing waves node stop syncing. I'm running node from scratch

**Desktop (please complete the following information):**
 - OS: Ubuntu 16.04
 - Waves: 1.1.5
  Waves inside docker

**Additional context**
There are a lot of such messages in the logs

[code]

[2019-11-08 18:43] roccomuso opened #2715 "get waves server timestamp"
I got a `transaction timestamp is in the past` error.
Is there any waves api to get server/node's timestamp?

[2019-11-11 08:07] phearnot commented on #2715
Please use [`/utils/time`](http://nodes.wavesnodes.com/api-docs/index.html#!/utils/time_1) API method to get the server's timestamp. The value you should use for your transactions' timestamp is `NTP`.

[2019-11-11 08:07] #2715 closed

[2019-11-11 08:44] phearnot commented on #2686
Fixed in #2696

[2019-11-11 08:44] #2686 closed

[2019-11-12 14:45] narmathamuthu opened #2720 "How to make encoded seed ?"
Hi team ,

I got functionality for create new account ( address , Seed phrase , private & public key ).

But i don't know how to get Encoded seed.

Any one please share the functionality ASAP.

[2019-11-13 09:55] pivoo81 opened #2725 "[Discussion] Free InvokeScript transactions for user"
There might be cases when a transaction fee needs to be paid by a dApp, not a user.
For example you, as a dApp developer, acquired fresh new users to your dApp, and they have no any assets on their account.

Currently it’s possible to use the bug found by the dApp developers community. This bug allows sending transactions with insufficient for transaction fee amount of Waves or sponsored asset on

[2019-11-13 10:57] deemru commented on #2725
I have a solution how to expand this bug.

If a final WriteSet have a TransferSet with exact `i.fee` amount back to caller then dApps pays the fee.

So if dApp pays some reward which can be implicitly assumed as the fee, but does not provide additional TransferSet with exact `i.fee` then caller should pay the fee as normal.

If dApp still want to pay the reward and the fee, then it should contain

[2019-11-13 10:59] KardanovIR commented on #2725
I have a couple of assumptions:
1) Explicit is always better than implicit
2) dApp should not care about fees, because it can be different depending on a couple of parameters (is smart asset attached? is caller a smart account? is network overloaded?).

The problem is that these two assumptions contradict each other.

When I develop a dApp the last thing I'd like to think about are edge cases with

[2019-11-13 11:02] KardanovIR commented on #2725
But it is still implicit and not clear at all, even more, it can be misleading sometimes, for example, should two examples below pay fees?
[code]

[2019-11-13 11:04] deemru commented on #2725
if i.fee == 500000 then yes, both would be fee payments.

[2019-11-13 11:55] ismagin commented on #2725
1. This doesn't solve any problem except for poorly designed betting game, which will be hacked anyway.
2. It's solving an "issue" on the wrong level. dApp shouldn't care about how user pays fee. _What happens now is just reordering of payments, that can be used for helping users._
3. Introducing new entities to language/library increases cognitive complexity, and it's ok-ish if the feature adds f

[2019-11-13 12:00] christopheSeeka commented on #2725
I think the Expand bug option is still an acceptable solution if well explained and documented.

[2019-11-13 12:34] AlekseiPupyshev commented on #2725
"dAppPaysFee" - is very explicit for dApp developers to protect themselves from unexpected behaviour.

At the same time it's offering a good approach to let users working with dApp from their ownership of account without even "going to crypto". Users will use fiat payments or subscriptions then.

[2019-11-13 13:43] pivoo81 commented on #2725
We know that this problem is present for such poorly designed games, but I'm not sure if there is no other cases where dApp developer will be in danger.

Script should know what he pays for. Is he paying for transaction fee or for something else ?

The functionality adds clearity. And control what the dApp pays for.

All this things are in control with the second approach, except taking into accou

[2019-11-13 14:29] narmathamuthu opened #2728 "Can't get seed value using address !!!"
Hi team ,

I got this error ( no private key for sender address in wallet ) when i get the seed value using address in our node.

PFA.

![image](https://user-images.githubusercontent.com/55826071/68772451-db522c00-064f-11ea-8f5a-d77e8d024cf2.png)

Please provide the solution ASAP.

[2019-11-14 07:07] #2720 closed

[2019-11-14 12:44] amurdev commented on #2725
### Hello All,

it is sad to hear that system contains undocumented behavior where
experienced users are aware of it and other not.
Please think about correct and quick reaction for such cases. Try to answer on the following questions:

- how to notify most part of community and developers
- how to track such cases

Possible need to create special segments in documentation

### About assumptions

[2019-11-14 13:16] deemru commented on #2725
Agree with @amurdev if it is not hard to implement ideally there should be a new thing in ScriptResult called PayFeeSet, the problem solved.

[2019-11-14 13:40] christopheSeeka commented on #2725
Agree with the PayFeeSet addition in ScriptResult, clear and explicit.

[2019-11-14 14:52] pivoo81 commented on #2725
Today we have made some progress in this question. Ilya made good proposal:  To add new annotation @allowOverdraft for @callables.
Functions with such annotation will be allowed to «use the bug»
And such behavior will be expanded to invokeScripts with payments.

[2019-11-14 22:27] amurdev commented on #2725
How are you planning to keep information about fee payer?
Looks like «Sorry guys, we prefer to do nothing because we are too lazy»

Proposal with new PayFeeSet is really smart and corresponds to all basic requirements. It is strange for me that you prefer «use the bug» option...

[2019-11-15 11:48] ismagin commented on #2725
It **is** the lazy option. It will either stop solving a problem in the future when fees might change(or when sender is scripted) or it will place additional burden on developer to figure if the fee needs to be paid at all, which(to me) doesn't look like elegant solution.

Besides, the "bug" can be avoided now:

[code]

[2019-11-15 11:56] ismagin commented on #2725
I thought about it a bit later and this we follow this path, we'll see that `@AllowOverdraft()` is runtime configuration, and configurations tend to be parameterized. So f we later need something else of that category, we'll get

[code]
This is already ugly, I'd like to see something like
[code]

But it's still :
 - in `@Callable(tx)` annotation, we _define variable_ `tx`
 - in `@Runtime(..)` anno

[2019-11-15 13:20] amurdev commented on #2725
### Point 1.

First of all it is an important note. Good catch!  :+1:

My proposals here are:
1. it is an explicit option which is turned OFF by default. If developer would like to use it then he must care about different risks
2. additional configuration parameters can be provided to manage caller types. For an example configuration bellow can allows overdraft for not scripted accounts only
[code

[2019-11-15 14:21] phearnot commented on #2552
This has been released with version [1.1.2](https://github.com/wavesplatform/Waves/releases/tag/v1.1.2). Default API key hash has been removed from configuration file. Unless the user explicitly specifies their own API key hash, the node will reject all requests to private methods.

[2019-11-15 14:21] #2552 closed

[2019-11-15 14:23] pivoo81 commented on #2649
Hi Dmitry!
Ability to give such information is connected to storing additional data in the nodes DB. Which is not needed in most cases.
Maybe we implement it later with some optional node extension.

[2019-11-15 14:30] ismagin commented on #2725
the mess is within
1.`@Callable(tx)`
2. `@Runtime(false, 80)` or `@AllowOverdaraft(allowOverdraft=false, maxbananas=80)`

in (1), we **define** variable, in (2) we construct an object

[2019-11-15 15:03] ismagin commented on #2725
[code]
You're missing the point. The only thing such construction is supposed to do is allow overdraft, not decide the amount/scripting. it's not dapp's business at that high level.

[2019-11-15 15:16] amurdev commented on #2725
From one side you care about developers and their burden and from other side you state that RIDE couldn't provide utilities anatotaions to manage difficult aspects of fees in case of overdfraft.

If you would like to popularize RIDE you need to think about such cases also. Currently nobody can create utilities methods, common libraries or annotations outsides of RIDE core and Node.

[2019-11-15 18:27] pivoo81 commented on #2725
@amurdev
we are thinking about different options how to solve that issue in the best way.
Let's take some time to crystalize the decision.

[2019-11-19 14:10] ismagin commented on #2725
how about object initializer syntax?
[code]

This syntax can(doesn't mean should) be later used for more sophisticated structures like

[code]

I'm not suggesting anything like `prerequisites` at the moment, just thinking for about more viable syntax.

The main question is whether we should or should not complicate things at all:

1. If we go dsl-like constructor, tons of ad-hocs are coming.
2. If

[2019-11-19 21:02] Caveman2019 opened #2750 "leveldb says "Corrupted compressed block contents""
Hi, I am trying to run a waves full node and ran into trouble.

because downloading blocks from peers takes too long, so I was following [this](https://docs.wavesplatform.com/en/waves-node/options-for-getting-actual-blockchain/state-downloading-and-applying.html) to restore the blockchain.

I have a windows server and I unpacked the downloaded tar file into the waves node root folder and I see eve

[2019-11-20 00:25] Caveman2019 commented on #2750
Seems it is because the downloaded state is Linux only. The solution would be to add windows based state for downloading if possible or some kind of converter.

[2019-11-20 04:15] christopheSeeka commented on #2725
Does it really worth it to complicated when current "bug as a feature" do the job with proper checks. Its not much more "risky" than a verifier, for beginers or those that dont know how it work, i still believe proper education and documentation on how to use it wouldnt make it that bad in the end.

[2019-11-20 23:39] Caveman2019 commented on #2750
OK, I am importing from the main net file and it seems working. case closed.

[2019-11-21 07:24] Caveman2019 commented on #2750
importing seems working but still very slow. would be great if there is packed state for windows

[2019-11-21 11:04] ismagin commented on #2725
@christopheSeeka I would keep it simple and just improve the "bug" too. Just explaining motivation so it's clear that we are not "lazy devs who don't want to work / implement simple functionality"

[2019-11-21 11:05] ismagin commented on #2728
You are sending address that the node doesn't have seed for.

[2019-11-21 11:05] #2728 closed

[2019-11-21 11:06] christopheSeeka commented on #2725
@ismagin i agree with that approach personally.

[2019-11-23 14:26] vlzhr opened #2758 "[Proposal] Waves trigger"
# Blockchain trigger proposal

There are many requests for adding a functionality of auto-running callable functions in Ride. An example would be a simple DeFi application that takes X WAVES from you and payouts Y WAVES back at time T automatically. Now it's only possible to allow user call `payout()` after T by himself. How could we design the functionality of running `payout` automatically?

My

[2019-11-25 11:02] pivoo81 commented on #2758
I like the idea to have trigger separately from the blockchain and use economic incentive to run it.
Need to analize more real use-cases which need these functionality to see if the proposed solution suits all of them.
But also it looks now too tightly connected to the code of the smart-contract.

[2019-11-27 14:36] ismagin commented on #2725
Ok, for the upcoming release we'll extend the "bug" and later make it tuneable when we're sure about the way it's designed

[2019-11-30 04:54] username1565 opened #2767 "[Proposal] Client-side WAVES-wallet."
**Аbstract**

No, but maybe yes...

**Motivation and Purposes**

[Many peoples want to buy secure crypto-assets, but https://coinmarketcap.com show them low prices, and then interest is go down.].

**Specification**

I just want to propose you,
to develop OFFICIAL client-side waves-wallet FOR CRYPTO-HOLDERS,
like this wallet: https://guarda.co/web-wallet
but without any fiat values, market-prices

[2019-12-03 14:06] yury653 opened #2778 "самая отстойная платформа вместе со стеларам"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-12-03 14:06] yury653 opened #2779 "самая отстойная платформа вместе со стеларам #2778"
**Аbstract**
Is your feature request related to a problem? Please describe.

**Motivation and Purposes**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...].

**Specification**
A clear and concise description of what you want to happen. Describe alternatives you've considered

**Backwards Compatibility**
Can your proposition affect any existing features?

*

[2019-12-03 14:36] #2779 closed

[2019-12-03 15:39] #2778 closed

[2019-12-03 16:35] yury653 commented on #2778
я не про вас я перепутал,извините

On Tue, Dec 3, 2019 at 6:39 PM Inal Kardanov <notifications@github.com>
wrote:

[2019-12-03 16:36] yury653 commented on #2779
я не про вас я перепутал,извините

On Tue, Dec 3, 2019 at 5:36 PM Igor Pavlov <notifications@github.com> wrote:

[2019-12-03 16:39] yury653 commented on #2779
удалите мое негативное

[2019-12-03 16:50] Ronald26 commented on #2778
удалите мойе негативное отзыв

[2019-12-03 16:51] Ronald26 commented on #2779
удалите мой негативный отзыв

[2019-12-03 17:30] Ronald26 opened #2782 "удалите мои негативные ,я не то написал не про вас"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-12-03 17:31] Ronald26 opened #2783 "удалите мои негативные,я перепутал не вам адресовал"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-12-03 17:32] Ronald26 commented on #2778
удалите мой негатив я не вам адресавал

[2019-12-03 17:32] Ronald26 commented on #2779
удалите мой негатив ,я не вам адресавал

[2019-12-04 19:50] username1565 opened #2790 "Get list of last orders by asset, and get matcher link by address or/and pubkey."
**Аbstract**

Yes. When old matcher is unavailable, we don't know where will be better to start trading again.

**Motivation and Purposes**

[old default matcher is unavailable, and I see the peoples continue to trading, I see some orders in blockchain, I see public key of new mather, and I see the address of this, but I cann't see the link to MATCHER REST API for new matcher].

**Specification**

[2019-12-05 09:55] #2783 closed

[2019-12-05 09:55] #2782 closed

[2019-12-05 11:12] br0x opened #2792 "Crash in Appender"
This crash happened several times, on different architectures
[code]

[2019-12-05 14:21] ismagin opened #2794 "Best practices of `case _ =>`"
*How it Works*
Matching works as a reflection-like call to `_isInstanceOf` function.
The code:
[code]
gets compiled to
[code]

**The proplem**
Let's say someone deploys a script:
[code]

1. The intension of the script author Rob is something like: "ReissueTx is very important, so it will be protected by `multisig `, while the other txs are okay on a regular basis, so we just use `sigerify()`.
2. N

[2019-12-12 06:10] narmathamuthu commented on #2635
@username1565 Hi,

I have done my matcher configuration successfully !!!.

But we have done matcher & node url's  htttp only.

Now we need https URL's like ( https://matcher.testnet.wavesnodes.com ) .

Can you explain please ?

[2019-12-12 09:07] username1565 commented on #2635
You can use https-proxy to accept incoming connections over HTTPS, and redirect traffic over http on your matcher REST API. For example, I used nginx, as https proxy: https://github.com/wavesplatform/WavesGUI/issues/1606

[2019-12-12 12:05] narmathamuthu commented on #2635
@username1565 Okay fine.  We will check it and update you ASAP.

In our matcher REST API URLs running successful on domin name with http only.

But we need matcher REST API URLs domain name with Https.

So we can try it and let you know.

If you have any suggestions please let us know.

Because we are struggling on last 3 days.

[2019-12-17 16:26] vbonini commented on #2709
[waves_stage.txt](https://github.com/wavesplatform/Waves/files/3974319/waves_stage.txt)

Additional logs as of this morning. Waves on stage is not progressing, and cannot serve as a failover node. Prod is unaffected at the moment.

[2019-12-18 03:10] yinjun1991 opened #2822 "Error validating transaction"
**Describe the bug**
I start a new waves fullnode, the current height is `1843402`, obvious is not the latest height, maybe the node is syncing. I found some error message in log. Is it normal when syncing ?
[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04
 - Version: 1.1.5 and 1.1.4

[2019-12-19 09:06] ksemaev commented on #2822
I have absolutely the same behaviour on onr of the 3 nodes. I even tried to restore it's storage from working node - still I get the same error

[2019-12-20 06:14] username1565 opened #2837 "[FEATURE] Do the lite mining node."
**Аbstract**

Yes. Blockchain size is too large for my hard disk drive.

**Motivation and Purposes**

[I cann't save all large blockchain, and I cann't do mining WAVES without save this].

**Specification**

I want to offer you to release the lite mining-node
to do mining waves and generate microblocks without store full blockchain.
Like bitcoin-ASIC's do mining without saving blockchain.
Now, blo

[2019-12-20 08:21] pivoo81 commented on #2837
Lite wallet don't mine.
To validate transactions you need to know if they spend money they have - you need blockchain state for this.
Script validations and invokeScripts also can require some data from blockchain.
We are working on state optimisations, in order to blockchain state become less.

[2019-12-20 08:21] #2837 closed

[2019-12-20 12:27] br0x commented on #2822
This one is already fixed

[2019-12-20 13:53] username1565 commented on #2837
Hi, @pivoo81! As I understanding, blocks can be loaded from another nodes, as JSON, by using their opened NODE REST API. For example: 184000-th block, as JSON here: https://nodes.wavesnodes.com/blocks/at/1840000
Also, the balances can be loaded without parsing all blocks.
So no need to store this all blocks to generate microblocks and push this to the mainnet for another nodes. Bitcoin ASICs worki

[2019-12-23 10:37] pivoo81 opened #2843 "[Known Issue] Error while broadcasting transaction"
In ver. 1.1.5 we introduced a hard limit on UTX processing time. We needed this limit because some transactions can take substantial amount of time to validate. This limit is not a part of consensus, it’s merely a safeguard to prevent such transactions from getting into the blockchain. This is a temporary measure, and we will be addressing the root cause of this issue (sub-optimal validation imple

[2019-12-23 11:35] phearnot commented on #2792
Fixed in #2805

[2019-12-23 11:35] #2792 closed

[2019-12-24 10:54] osiz-blockchainapp commented on #2636
Hi @username1565
 how should i convert  Wallet seed as BASE58 string.

[2019-12-24 20:45] username1565 commented on #2636
I just used the bitcoin brainwallet converter: https://username1565.github.io/brainwallet.github.io/#converter

[2019-12-26 22:26] bodrych opened #2854 "Active leases and balance details at height"
**Аbstract**
There is no node API for obtaining active leases and balance details at a certain height

**Motivation and Purposes**
It would be useful for leasing reward calculations

**Specification**
`/leasing/active/{address}/{height}`
`/addresses/balance/details/{address}/{height}`

**Backwards Compatibility**
The proposition can't affect any existing features

[2019-12-27 14:52] pivoo81 commented on #2854
Hi.
Such API will be developed in data-services next year - approximetally February.

[2019-12-30 09:26] thiagocapuano commented on #2725
I not sure it is a bug after all, but a proof of the sequence execution of code.
TransferScript happen before code finish or execution only happens if transfer and/or write data was concluded.

If will bad for dApp account, is for invoker too, because if code fail after transfer, in both cases (invoker pay or dApp pay) one will of them will prejudiced, like ethereum gas.

But this not happen. Why?

[2019-12-30 09:35] thiagocapuano commented on #2725
@AllowOverDraft ??? Not have a annotation nomenclature more friendly? (If is case for implement)

Not believe a developer not be prejudiced, because if he implemented transfer for caller, naturally he first intention was transfer amount biggest of the fee, casualty sponsor invoke for dApp use did though.

[2020-01-04 10:06] ksemaev commented on #2709
I keep getting this constantly on all of our waves nodes. The only solution is resync from 0 which takes days. Please provide instructions on how to fix that situation

[2020-01-07 22:34] username1565 opened #2861 "[Just question] Smart contracts to lease tokens?"
Is this possible to make some smart-contract, to secure leasing and unleasing transactions for the tokens, and pay the rewards for leasing as waves-rewards?
Leasing must to be secure, and the tokens must cann't be stolen or transferred from contract-address. This means, all signatures of contract address must to be invalid.
While tokens leased, any leaser can unlease this after some time,
but when

[2020-01-13 09:47] br0x opened #2867 "LevelDB: 'Too many open files'"
Caught this on 8 cores 16G VPS instance:

[code]

additional info:
[code]

[2020-01-13 10:56] pivoo81 commented on #2861
Hello. This repo is for node's features and issues.
You can address such questions to dev groups in Telegram https://t.me/waves_ride_dapps_dev or in Discord

[2020-01-13 10:56] #2861 closed

[2020-01-13 13:32] Karasiq commented on #2867
Hello. Can you please provide an output of `sudo lsof 2>/dev/null | grep --color=never -P "^(\w+\s+){3}\d+\D+" | awk '{print $2, $1}' | sort | uniq -c | sort -rh` command, executed when node is running?

[2020-01-13 14:09] br0x commented on #2867
Here goes:
[code]

[2020-01-16 12:59] Karasiq commented on #2867
Did you use a node REST API extensively at the moment, or it was in the idle state?

[2020-01-16 14:13] br0x commented on #2867
It was completely idle (rest api turned off)

[2020-01-20 13:33] br0x opened #2883 "InterruptedException"
Node version 1.1.7 brings a lot of messages like these:
[code]

[2020-01-23 17:06] mahsumurebe opened #2893 "Transaction broadcast problem"
---
name: Bug report
about: Broadcast problem
title: 'Transaction broadcast problem'
labels: bug
assignees:

---

Waves v1.1.6 wallet application is installed on my server. There is a sufficient amount of coin at the address I am trying to transaction. But when I try to broadcast a transaction, "Error is unknown" error occurs.

Steps to reproduce the behavior:
1. HTTP POST /transactions/sign

[2020-01-24 14:07] ksemaev commented on #2709
Same on v1.1.6  How do you handle forks?

[2020-01-27 13:22] mahsumurebe commented on #2893
Any news ?

[2020-01-27 13:59] msmolyakov commented on #2893
Hi! This bug has already been fixed in the upcoming version 1.1.8.
Try to restart node or, as workaround right now, you can [build node from the latest sources](https://github.com/wavesplatform/Waves#mainnet) from the `version-0.17.x` branch.
Thanks for the report.

[2020-01-27 14:22] Karasiq commented on #2867
This is LevelDB issue, but it doesnt affect performance significantly. You can increase open files limit to avoid this error: https://askubuntu.com/questions/1049058/how-to-increase-max-open-files-limit-on-ubuntu-18-04

[2020-01-27 14:42] br0x commented on #2867
What do you mean "doesnt affect performance significantly"? It completely crashes the node, because DB errors result in error code 74 which is explicitly disabled to restart
Anyway I already abandoned the VPS where this happened, so it does not affect me anymore

[2020-01-28 05:18] Karasiq commented on #2867
Doesnt affect performance if you alter the open files limit on the system to bigger value.

[2020-01-28 09:25] #2867 closed

[2020-01-28 15:58] mahsumurebe commented on #2893
Thank you. I upgraded the node to version 1.1.7. It works now.

[2020-01-28 15:58] #2893 closed

[2020-01-29 10:22] ksemaev commented on #2709
Same on 1.1.7

[2020-01-29 10:37] Merlz commented on #2693
Bump on this vulnerability, is it going to be fixed?

[2020-02-01 13:05] ksemaev commented on #2661
@phearnot please provide link to the doc where it clearly showes how to use api key: the correct name of the header, and how to pass it. The hash is generated with swagger, placed in the config, stilll api key doesn't work

[2020-02-03 09:00] phearnot commented on #2883
Transaction validatiion interruption is not an issue in itself, the issue is in the way this exception spills to stdout. We've changed the way `InterruptedException`s are handled in #2885: they are now logged with `TRACE` level. This fix will be released with 1.1.8.

[2020-02-03 09:00] #2883 closed

[2020-02-03 10:16] phearnot commented on #2843
Fixed in #2885 and will be released with 1.1.8.

[2020-02-03 10:19] phearnot commented on #2822
Fixed in #2696 and released with 1.1.6. Further improvements were implemented in #2885 and will be released with 1.1.8.

[2020-02-03 10:19] #2822 closed

[2020-02-03 10:23] phearnot commented on #2750
Which hardware are you using to import blockchain? While the process is indeed taking longer than we'd hope, weeks seems like an overstatement to me, it's more like days (3 to be precise).

Also we're now investigating the possibility to upgrade LevelDB library to a newer version, which will hopefully enable us to share state files between different platforms.

[2020-02-03 10:27] phearnot commented on #2714
Duplicates #2709

[2020-02-03 10:27] #2714 closed

[2020-02-03 10:37] phearnot commented on #2709
We are currently investigating this issue. Unfortunately, we don't have a working fix at this time.

There's a workaround for this issue:
1. Import blockchain from file.
1. Before running your node, backup the contents of `data` directory.
1. Run your node as usual. If your node forks or gets stuck, do the following:
    1. Replace your node's data directory with the one you backed up in step 2.

[2020-02-03 10:38] phearnot commented on #2693
This is being fixed in #2914

[2020-02-03 10:39] phearnot commented on #2520
Closing due to inactivity, please feel free to reopen.

[2020-02-03 10:39] #2520 closed

[2020-02-03 15:15] msmolyakov opened #2917 "test"
**Аbstract**
Is your feature request related to a problem? Please describe.

**Motivation and Purposes**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...].

**Specification**
A clear and concise description of what you want to happen. Describe alternatives you've considered

**Backwards Compatibility**
Can your proposition affect any existing features?

*

[2020-02-03 15:16] #2917 closed

[2020-02-05 07:02] pivoo81 commented on #2693
The Swagger will be updated in release 1.1.8 this week.

[2020-02-10 08:26] #2843 closed

[2020-02-10 08:27] phearnot commented on #2693
Released with [1.1.8](https://github.com/wavesplatform/Waves/releases/tag/v1.1.8).

[2020-02-10 08:27] #2693 closed

[2020-02-10 10:01] phearnot commented on #2867
By default, LevelDB keeps at most 1000 files open, which can easily trigger "too many open files" errors if the user which owns the node process also runs some other process accessing the file system. We will consider making this limit configurable, but this change may impact the node's performance, so we'll need to run some tests before publishing this fix.

[2020-02-14 10:22] BlackTurtle123 opened #2933 "V1.1.8 Doesn't seem to work with old dex versions"
**Describe the bug**
Version 1.1.8 doesn't seem to work with old dex versions due to the fact swagger is refactored.

**To Reproduce**
Install he latest deb release. Install the latest dex release (which is actually only compatible with v1.1.7)
Remove dex funtionality from the config => node starts fine

**Expected behavior**
Node should start dex should work.

**Screenshots**
[code]

**Desktop (p

[2020-02-14 10:42] vsuharnikov commented on #2933
We haven't released DEX for new NODE version yet. Soon DEX 2.0.0 with NODE v1.1.7 will be released (it is in testing now) and then we will move to NODE v1.1.8.

[2020-02-14 10:42] #2933 closed

[2020-02-17 01:08] ghost opened #2936 "[WEBSITE] Revise website"
**problem**

This site

https://nearprotocol.com/developers/

Is not perfect (several things can be enhanced), but it outperforms the waves site by far

**Motivation and Purposes**
 I'm always frustrated when I don't find the information fast, in different contexts, like...

- get some currency
- create an asset (super quick intro)
- create a simple dapp
- run a node
- core-level contribution

**S

[2020-02-17 15:00] ghost opened #2937 "Revise README"
The README should be compact, straight to the point, in order to allow code-level workers to process it quickly.

* Build Status
* Description (very compact, consistent with repo-description)
* Install from Binaries (can point to online-manuals)
* Build from Source (basic build, e.g. for ubuntu, then point to manual for more info)
  * Running Tests
  * Install
  * Mention Mac and Win
* Contributio

[2020-02-17 15:10] szhelonkin opened #2938 "Transaction broadcasted using RPC doesn't appear in blockchain"
Transaction successfully signed by /transactions/sign
then successfully broadcasted by transactions/broadcast
but does not appear in blockchain.
No information in the log about the transaction processing.
Problem appears in 1.1.8 version.
Before it works fine a lot of time.

[2020-02-18 09:29] msmolyakov commented on #2938
Hi @szhelonkin !
Are you using GRPC extension or REST API? Official https://nodes.wavesnodes.com/ or your own node?
If your own node, could you give trace logs? And also Id of the lost transaction?

[2020-02-18 12:10] szhelonkin commented on #2938
Hi @msmolyakov !

[2020-02-18 17:04] lazaridiscom commented on #68
@Karasiq seems inactive.

Far too much text for one issue... Super-epic.

@bcdev- @phearnot

[2020-02-18 18:17] ghost opened #2942 "[PROJECT] Provide a CONTIBUTING.md or DEVELOPMENT.md or similar"
**Аbstract**

Every open source project should provide information about "how to contribute". Though on github this is more or less a standard-procedure, it is not always clear how a team is organized, and if external contributions are welcome and to what extend.

**Motivation and Purposes**

I'm always frustrated when...

* I can't get a status overview of a project, simply by looking on project

[2020-02-19 10:08] msmolyakov commented on #135
1. `/assets/list/`
Available via Data Service API: https://api.wavesplatform.com/v0/docs/#/assets/getAssetListByIds

2. `/assets/info/{assetId}`
Available via Node API: https://nodes.wavesnodes.com/api-docs/index.html#/assets/details_1

3. `/assets/price/{assetId1}/{assetId2}`
Available via Matcher API: https://matcher.waves.exchange/api-docs/index.html#!/matcher/marketStatus_1

4. `/assets/price/

[2020-02-19 10:08] #135 closed

[2020-02-20 09:51] KardanovIR commented on #2937
Thank you for your feedback! We're in process of revising all our github repositories, so we'll update READMEs soon.

[2020-02-20 09:56] KardanovIR commented on #2942
Thank you for your feedback! We'll add CONTRIBUTING.md in all our repos soon.

[2020-02-25 09:35] vladyslavstartsev opened #2949 "Bootstrap file"
**Аbstract**
Waves  node syncs for a lot of time (it takes like forever)

**Motivation and Purposes**
I'm trying to install waves node on my server, but for whole week I'm waiting it to sync

**Specification**
If there is a way for it to sync for couple of hours that would be perfect. Other alternative instead of this will be, something like `fast` param in `conf` file. Anyway what I want in the e

[2020-02-25 10:14] msmolyakov commented on #2949
Hi, @vladyslavstartsev!
Yes, you can choose one of these options:

- import blockchain from binary file (3-4 days)
- download the ready node state (up to 10-15 minutes, depends on network speed)

Please read this documentation article: [Options for Getting Actual Blockchain](https://docs.wavesplatform.com/en/waves-node/options-for-getting-actual-blockchain/).

BTW, now we are working on optimizing

[2020-02-25 23:18] Caveman2019 opened #2951 "Could not append blocks"
My node seems not able to append more blocks. I tried to roll back a few hundrends of blocks but still not working. Can anybody help? Error:

![Capture](https://user-images.githubusercontent.com/9812320/75296451-11bc4d00-57e2-11ea-93fe-ee58a19c4d24.PNG)

Thank you!

[2020-02-26 08:27] phearnot commented on #2951
This is the duplicate of #2709.

[2020-02-26 08:27] #2951 closed

[2020-02-26 21:07] Caveman2019 commented on #2709
Got the same error when trying to import from file

![image](https://user-images.githubusercontent.com/9812320/75387950-f4968580-5898-11ea-8a19-ae23fbf8015b.png)

[2020-02-26 21:12] Caveman2019 commented on #2709
I am deleting the data folder and start over. :(

[2020-03-02 08:36] msmolyakov commented on #2938
Sorry for the long answer. Is the problem still there?

If so, please compare the last block on your node and on the official node: `/blocks/headers/last`. Are they on blocks with the same fields `"height"` and `"generation-signature"`?

If at least one of them is different, then the state of your node has been broken, and you need to re-import the blockchain again. Please read this documentation

[2020-03-02 09:41] msmolyakov commented on #2949
Hi!

@vladyslavstartsev is your problem still there? Did you manage to import blockchain?

[2020-03-02 10:07] vladyslavstartsev commented on #2949
everything is fine

[2020-03-02 10:07] #2949 closed

[2020-03-02 12:23] szhelonkin commented on #2938
No issue was resolved yesterday.
It was caused by internal DNS malfunction.
Thank you for reply.

[2020-03-02 12:23] #2938 closed

[2020-03-06 07:32] lazaridiscom opened #2971 "[WEBSITE] Missing Waves Wallet Download"
## Problem

visiting https://wavesplatform.com/

* I'm not able to find a download for a wallet.
* I'm not able to find information how to issue a token on waves

## Expected

download/information links, right on the landing page, so a visitor does not need to search around.

[2020-03-06 08:33] msmolyakov commented on #2971
You can download the wallet at Waves.Exchange website: https://waves.exchange/

How to issue a token:
1. through the Waves.Exchange wallet: https://docs.waves.exchange/en/waves-exchange/waves-exchange-online-desktop/online-desktop-asset/online-desktop-token-creation
2. for manual sending of [IssueTransaction](https://docs.wavesplatform.com/en/blockchain/transaction-type/issue-transaction) you can

[2020-03-06 09:10] lazaridiscom commented on #2971
A zip with an axe, then...

"Windows Defender SmartScreen prevented an unrecognized app from starting. Running this app might put your PC at risk."

How can I point a user to such an installation?

[2020-03-06 09:17] lazaridiscom commented on #2971
This is good, simple as expected.

[2020-03-06 15:01] wenderccc opened #2973 "Error validating transaction"
My node is updating blockchain now. But after i restarted it, it started showing this strange errors.
[code]
My node seems to run pretty well though.

[2020-03-06 15:07] wenderccc commented on #2973
Also this error appears only when i connect to VM from my pc.

[2020-03-06 19:17] richiedunk opened #2974 "API Address creation "Error is unknown""
Incorrect response when creating new addresses on a hub via the API {"version":"Waves v1.1.9"}

- Sending POST request to node.address/addresses
- Expected response is `{"address": "XXxxxxXXXXXxXX"}`
- Actual response is
[code]
- New address is shown at GET node.address/addresses, so it's being created, just getting an incorrect respose.

Any ideas?!

[2020-03-08 07:00] lazaridiscom opened #2975 "[CRITICAL] Windows Defender warning about WavexExchange EXE"
(re https://github.com/wavesplatform/Waves/issues/2971#issuecomment-595673822, affects Waves Product-Management)

**Describe the bug**

"Windows Defender SmartScreen prevented an unrecognized app from starting. Running this app might put your PC at risk."

**To Reproduce**

* Visit  https://waves.exchange/
* Menu => Download => Windows ( https://waves.exchange/files/Waves.Exchange.zip )
* Extract

[2020-03-08 07:15] lazaridiscom opened #2976 "Waves Exchange Source Codes"
I'd like to have the overall tool-chain available as open-source.

Where can I find the source-code of the Waves-Exchange?

EDIT: is it this here?

https://github.com/wavesplatform/dex

[2020-03-08 08:26] lazaridiscom opened #2977 "[PRODUCT] Sell a Token without Exposing Consumers to "WavesExchange""
I just evaluated the waves-exchange a bit, and I do not want to expose my users to this functionality.

The question is:

Can users purchase tokes in a more simple manner, e.g. an official waves-wallet, with a simple means to add funds via FIAT, and then buy waves-implemented tokens?

[2020-03-09 10:11] lazaridiscom opened #2979 "https://waveswallet.io/"
https://waveswallet.io/

points to

https://client.wavesplatform.com/

which points to

https://waves.exchange/

## expected

point immediately to https://waves.exchange/

[2020-03-09 12:14] lazaridiscom commented on #2976
https://github.com/wavesplatform/dex/issues

[2020-03-10 10:47] pivoo81 commented on #2975
Hello.
This is Waves repository. Your question is about Waves.Exchange
Please report their support.

[2020-03-10 10:47] #2975 closed

[2020-03-10 10:48] pivoo81 commented on #2976
Hello.
This is Waves repository. Your question is about Waves.Exchange
Please ask their support.

[2020-03-10 10:48] #2976 closed

[2020-03-10 10:49] pivoo81 commented on #2977
Hello.
This is Waves repository. Your question is about Waves.Exchange
Please report their support.

[2020-03-10 10:49] #2977 closed

[2020-03-10 10:49] pivoo81 commented on #2971
Hello.
This is Waves repository. Your question is about Waves.Exchange
Please report their support.

[2020-03-10 10:49] #2971 closed

[2020-03-10 11:06] lazaridiscom commented on #2976
@pivoo81 , do you actually bother to read? I'm asking for a relevant repository, within the main repository. I don't want to use non-public support.

[2020-03-10 11:10] lazaridiscom opened #2980 "void"

[2020-03-10 11:12] lazaridiscom commented on #2942
@KardanovIR , you should leave the "we will soon" to the politicians.

As I assess it, this project is not really interested in contributors. Quite closed processes, even closes source (see https://github.com/wavesplatform/Waves/issues/2942).

[2020-03-10 12:41] pivoo81 commented on #2976
@lazaridiscom
https://github.com/wavesplatform/dex - this is repository for [Matcher](https://docs.wavesplatform.com/en/blockchain/glossary#matcher). The software which matches orders.
Waves.exchange uses this software.
Where to find the source code of Waves.exchange you can find out from their support.

I don't know what you mean by this.

[2020-03-10 13:51] pivoo81 commented on #2979
Waves Platform no longer support the Client (client.wavesplatform.com)
But you can find similar functionality on Waves.Exchange, but it's separate organization, so we can't give direct link to it.

[2020-03-10 13:51] #2979 closed

[2020-03-10 14:31] lazaridiscom commented on #2976
Seriously, you start to sound like a bot.

[2020-03-10 14:34] lazaridiscom commented on #2979
@pivoo81 , this starts to become annoying.

You link DIRECTLY to it, from your client.wavesplatform.com. So, just link one instance earlier to it, to avoid sending users around on the internet.

What does this even mean? Isn't this a product of waves?

A bit more transparency!

[2020-03-11 09:26] phearnot commented on #2973
According to the logs, your node is actively downloading new blocks from the network (most likely the node was shut down for some time). While new blocks are continuously being applied, transactions are waiting for state lock. If this lock can not be acquired within predefined interval, transaction validation process is interrupted. A workaround is to wait for your node to completely synchronise w

[2020-03-11 09:26] #2973 closed

[2020-03-11 10:05] pivoo81 commented on #2977
Waves Platform has no official Wallet currently.

[2020-03-11 10:06] pivoo81 commented on #2980
This repository is for Waves Protocol.
It is not about any wallet. We have no official wallet.
There is a **separate organisation Waves.Exchange** and you can ask all questions concerning Waves.Exchange in their support, or find it on their site.

[2020-03-11 10:07] pivoo81 commented on #2980
We need to clarify that questions about wallets on our site and documentation.

[2020-03-11 10:12] pivoo81 commented on #2980
There are several wallets developed by the community:
1. WavesFx
https://medium.com/waves-lab/wavesfx-a-preview-6864737b0605
https://github.com/wavesfx/wavesfx

2. Signature Chain
https://www.signature-chain.com/web-wallet.html

[2020-03-11 10:13] pivoo81 commented on #2977
There are several wallets developed by the community:

WavesFx
https://medium.com/waves-lab/wavesfx-a-preview-6864737b0605
https://github.com/wavesfx/wavesfx

Signature Chain
https://www.signature-chain.com/web-wallet.html

[2020-03-11 10:25] lazaridiscom commented on #2980
@pivoo81 , you are placing "waves" as an ecosystem in danger, if you continue to simply ignore what I'm writing you, and repeat like a bot the same again and again.

WavesPlatform does not function without Waves.Exchange.

Waves.Exchange is just a part of an overall problem of mine, which affects "waves". I refuse to use support-systems, I need an developer-oriented Issue-tracker.

You, as a platf

[2020-03-11 10:33] lazaridiscom commented on #2977
prototypes, or payed services (totally overprices, closed source).

You should not even mention them, makes a totally unserious impression.

[2020-03-12 10:20] #2980 closed

[2020-03-13 12:38] msmolyakov commented on #2974
Hi, @richiedunk!
Is your problem still actual? Was the node at the current height of the blockchain when you received this error?

[2020-03-13 15:23] richiedunk commented on #2974
Yes, still having the error. Node seems to be up to date.

[code]

[2020-03-16 04:41] KardanovIR commented on #2936
Thank you for your feedback and references, we're working on our website now, so we'll update relatively soon. I'll close this issue because this repository is about Waves Node, not the website.

[2020-03-16 04:41] #2936 closed

[2020-03-16 09:35] dzirat opened #2994 "Test jira-git integration"
test

[2020-03-16 09:36] dzirat commented on #2994
test 2

[2020-03-16 09:38] #2994 closed

[2020-03-16 09:38] dzirat opened #2995 "Test jira-git integration 2"
test 2

[2020-03-16 13:18] msmolyakov commented on #2974
I spent some time to reproduce this error, but node is still correctly creating new addresses with correct response.
What messages appear in the TRACE node logs when you create an address?

How to enable TRACE logging level: https://docs.wavesplatform.com/en/waves-node/logging-configuration#configuring-own-logback-xml

[2020-03-16 13:22] msmolyakov commented on #2974
Have you tried restarting the node?
If you installed it from a deb package, then: `systemctl restart waves`

[2020-03-16 14:19] richiedunk commented on #2974
Thanks for your help.

Tried `systemctl restart waves` and ran out of memory! Maybe something is corrupt in the Java file, or there's a memory leak of some sort. Should I try ungrading/reinstalling?

[2020-03-17 16:45] msmolyakov commented on #2974
1. Stop node: `systemctl stop waves`
2. Check Java Xmx value for the node: `cat /etc/waves/application.ini | grep Xmx`
3. Check free RAM: `free -hm`

Make sure that free RAM is greater than the Xmx value.

And check that you have enough free disk space: `df -h /`

[2020-03-20 03:26] username1565 opened #3010 "What happened with official WUSD? https://coincodex.com/crypto/wusd/?period=ALL"
Что у вас с долларом? 4 года 1 к 1 торговался https://coincodex.com/crypto/wusd/?period=ALL ,
а теперь внезапно - упал??? Это SCAM такой, или что?
11 тысяч ваших инвесторов - ждут от вас объяснений: https://dev.pywaves.org/assets/Ft8X1v1LTa1ABafufpaCWyVj8KkaxUWE6xBhW6sNFJck

[2020-03-20 10:17] pivoo81 commented on #3010
Hello.
This repository is about Waves Node development. It's not connected to any Waves-based asset.
You can ask about asset its issuer - support@coinomat.com

[2020-03-20 10:17] #3010 closed

[2020-03-29 20:59] gruvin opened #3029 "Make it so people CAN ACTUALLY FIND a @#$! Waves wallet. It's near IMPOSSIBLE. k tnx. Geeze."
I give up. There's nothing in the documentation. There's nothing remotely current and obvious on the GitHub and there's nothing on your website.

Looking for a Desktop wallet AND some instructions on where to get it, how to install it and how to make it run. Closest thing I can find (macOS btw) is some "jar" file, that won't open.

WTF. Mind blown.

[2020-03-30 16:09] pivoo81 commented on #3029
Hi.
There is no official wallet.

You can use
1. Waves.Exchange app. It contains wallet. They have web, desktop and mobile versions.
https://waves.exchange/

2. Waves FX - https://github.com/wavesfx/wavesfx

[2020-03-30 22:27] gruvin commented on #3029
Well that's a seriously poor state of affairs. Oh well. Goodbye Waves. They
can keep my $40BTC. Not worth the trouble.

On Tue, 31 Mar 2020 at 05:09, Igor Pavlov <notifications@github.com> wrote:

[2020-04-07 06:12] username1565 opened #3043 "Make synchronization and resynchronization faster!"
**Аbstract**

Yes. Blockchain is too large for start synchronization, and resynchronize this.

**Motivation and Purposes**

**Specification**

I want to you make the checkpoints for the fast synchronization of blockchain + lists of balances for all the tokens, which WavesPlatrofm have.
For example, the block 2000000 is verified, and valid block: https://wavesblockexplorer.com/blocks/200000
The has

[2020-04-07 07:03] pivoo81 commented on #3043
Hello. This good point. But it's not in current plans.
Currently we improving time of processing blockchain itself, it's already in stagenet, and will be ready for mainnet in June.
Now if you want to get actual blockchain state fast you can download state. It's not as safe as 'checkpoint feature' you propose. Please read details on this here https://docs.wavesplatform.com/en/waves-node/options-for

[2020-04-07 09:44] username1565 commented on #3043
Hello. I know about this bootstrap `.tar`-archive, http://blockchain.wavesnodes.com
and to use this, need to download full blockchain inside this `.tar`-archive,
and after import this on the node, there is running the validation for all blocks again,
beginning from 0 block, and up to last block.
This process of validation is so slow, and validation is processed by 100 blocks from 0-th block,
and a

[2020-04-09 10:35] username1565 opened #3048 "[Feature] "Free sockets"! "Free sockets"!"
**Аbstract**

Yes. I cann't enable "Free Sockets", and I cann't see any description [in this guide](https://github.com/wavesplatform/waves-documentation/blob/master/ko/waves-full-node/how-to-configure-a-node.md).

**Motivation and Purposes**

**Specification**

I want to enable "Free Sockets". I see some nodes have the enabled "Free sockets" here: https://dev.pywaves.org/nodes/ and I want to enabl

[2020-04-09 10:44] username1565 commented on #3010
This scammers just decided to close the trading of the official waves USD??? Pfff... WTF?

https://coinomat.com/
[code]

[2020-04-10 08:40] pivoo81 commented on #3048
Cite @alexeykiselev from [this issue](https://github.com/wavesplatform/gowaves/issues/285):

[2020-04-10 08:40] #3048 closed

[2020-04-10 16:43] username1565 commented on #3048
What means "slots"? How to enable this?

[2020-04-15 13:51] #2942 closed

[2020-04-15 13:53] phearnot commented on #2937
Fixed in #3056

[2020-04-15 13:53] #2937 closed

[2020-04-17 10:10] alexeykiselev commented on #3048
There are two parameters in `waves/network` configuration section: [`max-inbound-connections`](https://github.com/wavesplatform/Waves/blob/1254df3cba7def132f734a8b30d76a81489f2a63/node/src/main/resources/application.conf#L70) and [`max-outbound-connections`](https://github.com/wavesplatform/Waves/blob/1254df3cba7def132f734a8b30d76a81489f2a63/node/src/main/resources/application.conf#L73) that defin

[2020-04-17 13:08] username1565 commented on #3048
Hi, @alexeykiselev!
I have the default values 30 for this parameters, but https://dev.pywaves.org/nodes/ show "Free Sockets": "-" for my node.

So, how to enable "Free Sockets"??

[2020-04-17 15:22] msmolyakov commented on #2974
Did this solve the problem?

[2020-04-19 14:49] alexeykiselev commented on #3048
Set both values to number more than number of nodes on the network. This will give your node the free sockets status on PyWaves.

[2020-04-19 14:53] username1565 commented on #3048
Ok, thanks. I got it. This seems, like a "Super-Node"!

[2020-04-20 13:42] msmolyakov commented on #2974
Close due to inactivity. Feel free to reopen the issue if the problem is still not solved

[2020-04-20 13:42] #2974 closed

[2020-04-23 17:24] PyWaves commented on #2758
I'm not really sure if we should add it as an extension to the node. Why not publish it open source and let the community run it, independently of nodes: first come, first serve. :)

[2020-04-23 17:29] vlzhr commented on #2758
@PyWaves, makes sense. But, this tool needs to check every SetScript transaction: this is what the Node actually does. So, connecting Trigger to the Node application would be a significant optimization.

[2020-04-30 10:36] username1565 opened #3082 "Compile the node."
Hello.
How to compile this `scala`-code of the waves node into `.jar`-file on `Windows`.
What need to download to build this from the source code? Some binaries and modules?..
I want to be sure the source code is corresponding the binary files, and there is no any viruses.
Do you have any instructions to compile this all?

And... Is this possible to compile this code for all versions, and into x86

[2020-05-01 15:42] username1565 commented on #3082
Как сконпелировать, блядь, это скамное говно?

[2020-05-01 16:55] pivoo81 commented on #3082
@username1565 please be calm and constructive, or you will be blocked.

Concerning your original question - the answer will be given soon today.

[2020-05-01 19:30] msmolyakov commented on #3082
Instructions with all the necessary commands are in the [readme](/wavesplatform/Waves#-development)

[2020-05-01 19:30] #3082 closed

[2020-05-14 08:23] msmolyakov commented on #2660
closed due to inactivity

[2020-05-14 08:52] pivoo81 commented on #2660
We are considering the possibility to implement Leasing of Waves not only via the Lease transaction, but with Script Action (result of @callable script execution).

[2020-05-21 05:01] osiz-blockchainapp opened #3127 "Node Synchronization stuck on this block 1964603."
Hi,
I configure waves full node in AWS. The node synchronization was stopped on this block 1964603 then again restarted the waves node service then the node was not started to synchronized but it throws below error.
Error:
`WARN c.w.s.a.ExtensionAppender$ - Can't process fork starting with 4B5eZheiVAxMfpkwPgLKYzTe5j9LHyAet4jLWFwgkVjAGGsTgqBz6Nf2z1VJqusQqonKQPmeX86VyJTcMuGqXkQq, error appending blo

[2020-05-28 14:00] phearnot commented on #2709
This has been fixed in [1.1.11](https://github.com/wavesplatform/Waves/releases/tag/v1.1.11)

[2020-05-28 14:00] #2709 closed

[2020-05-28 14:02] phearnot commented on #3127
Data corruption in LevelDB has been fixed in [1.1.11](https://github.com/wavesplatform/Waves/releases/tag/v1.1.11). Please update your node and check state as described in the release notes.

[2020-05-28 14:02] #3127 closed

[2020-05-28 14:47] deemru commented on #2649
We already have:
[code]

Sponsored transactions for now are ok, but when you will implement [WEP 2](https://forum.wavesplatform.com/t/wep-2-customizable-sponsorship/1588) it would be necessary to have this option.

[2020-05-28 15:40] pivoo81 commented on #3043
Hi @username1565
Actually you telling [about import-file](https://docs.wavesprotocol.org/en/waves-node/options-for-getting-actual-blockchain/import-from-the-blockchain) (Look "Import Blocks from Binary file" chapter), but I told you [about data-state download](https://docs.wavesprotocol.org/en/waves-node/options-for-getting-actual-blockchain/state-downloading-and-applying).

[2020-06-02 11:36] pivoo81 commented on #2649
We don't want to implement it in the Node, maybe it should be available in data-service, now thinking about it

[2020-06-05 12:32] osiz-blockchainapp opened #3144 "Can't able run own matcher node(waves-dex_2.0.3 with waves_1.1.10) receiving error"
**Describe the bug**
Installed waves_1.1.10 , configured and run the waves node.Afterinstalled the waves-dex.deb and configured and started waves-dex service it throws the **waves Node cannot be reached via gRPC**.

**Expected behavior**
dex node should work. I just expect to see working Matcher REST API at port 6886.

**Desktop (please complete the following information):**
 - OS: Ubuntu 16.04
-

[2020-06-11 09:23] #3029 closed

[2020-06-25 00:02] ragazzo-br commented on #835
it really will be a good deal, I have thousands to exchanve for waves tokens....

[2020-07-28 12:40] osiz-blockchainapp opened #3218 "Node Synchronization stuck on this block 2139133"
**Describe the bug**
Hi,
I configure waves full node in AWS. The node synchronization was stopped after this block on 2139133.

**waves node log data**
`2020-07-23 23:58:32,109 DEBUG [nio-worker-group-3-3] c.w.n.PeerDatabaseImpl - Suspending [cc475d85 212.95.36.100:6868]
2020-07-23 23:58:37,417 DEBUG [nio-worker-group-3-5] c.w.n.PeerDatabaseImpl - Suspending [1af54e11 167.86.123.75:6868]
2020-07-2

[2020-07-28 14:25] msmolyakov commented on #3218
Hi!
The state of your node has probably been corrupted. And these logs are not related to the problem.

As we mentioned in your previous issue #3127, data corruption in LevelDB has been fixed in the [v1.1.11](https://github.com/wavesplatform/Waves/releases/tag/v1.1.11) release.
Please update your node, and [reimport blockchain](https://docs.wavesprotocol.org/en/waves-node/options-for-getting-actua

[2020-07-28 16:11] osiz-blockchainapp commented on #3218
Can we build the latest matcher node (Version 2.1.4 )  with waves node(  v1.1.11 ) .

[2020-07-28 16:24] msmolyakov commented on #3218
AFAIK, no, matcher supports only node 1.1.10, and next update will be to 1.2 release.
In this case, you have just to re-import blockchain or download backup.

[2020-08-04 13:39] msmolyakov commented on #3218
hi, @osiz-blockchainapp! Did the reimport help restore your node?

[2020-08-12 15:48] WAVESLegacy commented on #2758
I could think of several use cases for this blockchain trigger. However, it would require re-evaluation of the conditions at trigger time. For example, if a script has the following form:

[code]

At the time the script is set, it is added to the “to-do-list” to be executed at a certain time. When the script is triggered the conditions are re-evaluated as the _lastTx + someInterval_ value may have

[2020-08-17 19:14] Praexor opened #3241 "Help with my node update please"
I was updating my node to version 1.2.10 and it gives me this error, it does not start :(
 ****ERROR c.w.h.StorageFactory$ - Storage version 4 is not compatible with expected version 5!****
PLEASE HELP

My server : 4 GB Memory / 80 GB Disk / TOR1 - Debian 10.2 x64

I used
1.- sudo systemctl stop waves
2.- wget https://github.com/wavesplatform/Waves/releases/download/v1.2.10/waves_1.2.10_all.deb
3.

[2020-08-18 21:13] msmolyakov commented on #3241
As said in the [Release Notes](https://github.com/wavesplatform/Waves/releases/tag/v1.2.10) in the section `"Update Notes`, you need to rebuild state of your node.

Please, follow the instructions.

[2020-08-19 18:04] Praexor commented on #3241
Ok great, thank you guys, I'll try it, regards

[2020-08-24 06:05] username1565 opened #3248 "Is there any way to see last transactions, including exchanged, by asset ID?"
Is there any way to see last trades by asset ID?

[2020-08-24 09:31] msmolyakov commented on #3248
You can use Data Service API: https://api.wavesplatform.com/v0/docs/#/transactions/searchTxsExchange

Repository of this project: https://github.com/wavesplatform/data-service

[2020-08-24 09:31] #3248 closed

[2020-08-24 09:33] msmolyakov commented on #3241
@Praexor have you successfully updated the node?

[2020-08-25 09:00] username1565 commented on #3248
I mean when `PriceAsset` or `AmountAsset` is `unknown`. Because `Waves DEX` - this is a `DEX`,
and if noone not trading by the SPECIFIED `trading pairs`,
somewhere through another `matcher`,
there is possible to trade `specified asset`, for another `unknown asset`,
and all `exchange-transactions`, are including in blockchain.

So, I think, there is possible to make some services, where by `Asset I

[2020-08-25 09:00] username1565 commented on #3248
I mean when `PriceAsset` or `AmountAsset` is `unknown`. Because `Waves DEX` - this is a `DEX`,
and if noone not trading by the SPECIFIED `trading pairs`,
somewhere through another `matcher`,
there is possible to trade `specified asset`, for another `unknown asset`,
and all `exchange-transactions`, are including in blockchain.

So, I think, there is possible to make some services, where by `Asset I

[2020-08-25 09:00] username1565 commented on #3248
I mean when `PriceAsset` or `AmountAsset` is `unknown`. Because `Waves DEX` - this is a `DEX`,
and if noone not trading by the SPECIFIED `trading pairs`,
somewhere through another `matcher`,
there is possible to trade `specified asset`, for another `unknown asset`,
and all `exchange-transactions`, are including in blockchain.

So, I think, there is possible to make some services, where by `Asset I

[2020-08-25 09:00] username1565 commented on #3248
I mean when `PriceAsset` or `AmountAsset` is `unknown`. Because `Waves DEX` - this is a `DEX`,
and if noone not trading by the SPECIFIED `trading pairs`,
somewhere through another `matcher`,
there is possible to trade `specified asset`, for another `unknown asset`,
and all `exchange-transactions`, are including in blockchain.

So, I think, there is possible to make some services, where by `Asset I

[2020-08-25 09:00] username1565 commented on #3248
I mean when `PriceAsset` or `AmountAsset` is `unknown`. Because `Waves DEX` - this is a `DEX`,
and if noone not trading by the SPECIFIED `trading pairs`,
somewhere through another `matcher`,
there is possible to trade `specified asset`, for another `unknown asset`,
and all `exchange-transactions`, are including in blockchain.

So, I think, there is possible to make some services, where by `Asset I

[2020-08-25 09:00] username1565 commented on #3248
I mean when `PriceAsset` or `AmountAsset` is `unknown`. Because `Waves DEX` - this is a `DEX`,
and if noone not trading by the SPECIFIED `trading pairs`,
somewhere through another `matcher`,
there is possible to trade `specified asset`, for another `unknown asset`,
and all `exchange-transactions`, are including in blockchain.

So, I think, there is possible to make some services, where by `Asset I

[2020-08-25 13:49] lbphp opened #3249 "JSON-RPC of local wallet"
DELETE

[2020-08-25 21:37] Praexor commented on #3241
No yet, I am looking for help

[2020-08-26 09:20] msmolyakov commented on #3241
please describe your steps and what error you get

[2020-08-26 13:02] #3249 closed

[2020-08-26 13:02] lbphp commented on #3249
Solved

[2020-08-26 21:57] username1565 commented on #3248
I mean when `PriceAsset` or `AmountAsset` is `unknown`. Because `Waves DEX` - this is a `DEX`,
and if noone not trading by the SPECIFIED `trading pairs`,
somewhere through another `matcher`,
there is possible to trade `specified asset`, for another `unknown asset`,
and all `exchange-transactions`, are including in `blockchain`.

So, I think, there is possible to make some services, where by `Asset

[2020-09-01 10:47] pivoo81 commented on #3029
Here is the link with
https://waves.tech/utilize#asset-management-dApps

[2020-09-10 00:24] Crypto2 opened #3263 "Version 1.2.12 slow syncing"
**Describe the bug**
We just updated to 1.2.12 yesterday from 1.1.11 and installed the new blockchain as per directions from https://docs.waves.tech/en/waves-node/options-for-getting-actual-blockchain/state-downloading-and-applying

Since then syncing has been crawling, taking an hour to do 100-200 blocks. It is the only thing running on the system other than just the core Linux system (Debian 10.

[2020-09-11 08:39] ShawnShoper opened #3264 "Publick key"
Hi, we upgrade the waves to lastest.
when we call `calcfee` api, the throw error,`content={"error":199,"message":"requirement failed: invalid public key length: 0"}`,
But i do not found  how to get `public key`

[2020-09-11 09:27] msmolyakov commented on #3264
Hi. Please check that json of your request body contains field `"senderPublicKey"` with correct value

[2020-09-11 09:30] ShawnShoper commented on #3264
Json body,
[code]
I fill empty value for publick key, the old wallet version,can pass it .  But we upgrade to lastest version,it's wrong.   and i see the docs. No API was found to get the public key for the account

[2020-09-11 09:38] ShawnShoper commented on #3264
@msmolyakov Can u help me

[2020-09-11 09:48] msmolyakov commented on #3264
It's impossible to calculate its public key from the address. `"senderPublicKey"` field is required, but `"sender"` isn't.

[2020-09-11 09:50] ShawnShoper commented on #3264
umm,I can't get `senderPublicKey` from the address creation to the transfer. How should I do, how can i get the `publickey`

[2020-09-11 10:25] past2017 commented on #3264
so is there an API or another way to get senderPublicKey for one address? @msmolyakov

[2020-09-11 10:41] msmolyakov commented on #3264
If account owner has its seed phrase or private key, he can calculate public key from them. There're [client libraries](https://github.com/msmolyakov/awesome-waves/blob/master/README.md#client-libraries) for many programming languages that can do it for you.

Please read this article for more details: https://medium.com/wavesprotocol/protect-your-funds-public-private-keys-and-seed-phrases-c52fe4c4

[2020-09-11 11:02] ShawnShoper commented on #3264
Thanks.

[2020-09-15 14:20] #3264 closed

[2020-09-15 17:40] axxxxx opened #3269 "Постоянные падения базы"
Постоянно падает база с ошибкой. После полной синхронизации работает от 5 минут до суток. Ошибка появилась после перехода с версии 1.1.9

`2020-09-11 19:42:14,403 INFO  [main] c.w.database.BloomFilter$ - Populating bloom filter for orders, this can take a while.
2020-09-11 19:43:50,205 INFO  [main] c.w.Application$ - Starting...
2020-09-11 19:43:50,215 INFO  [main] c.wavesplatform.utils.NTP - Init

[2020-09-18 09:07] msmolyakov commented on #3269
Какую именно версию теперь используете? Какие характеристики вашего сервера?

Обновитесь на последнюю версию 1.2.12. В ней решены проблемы с производительностью, из-за которых в определенных случаях нода могла прерывать работу.

Также, по части лога ниже, процесс ноды завершается принудительно. Нода перестраивала блум фильтры, но потом без каких-либо сообщений об остановке появилось сообщение сраз

[2020-09-18 10:07] msmolyakov commented on #3263
Has your import process on 1.2.12 finished yet? How long did it take in total?

The `kamon.metric.Timer` errors are not related to the problem and are not the problem themselves. They will no longer be in the next release.

[2020-09-18 11:03] axxxxx commented on #3269
С 1.1.9 обновился сразу до 1.2.12, на ней стал получать эти ошибки, попробовал 1.2.10, это же самое. Вернул обратно 1.2.12.
Сервер: Debian 9.2 (x86_64), 4гб память, 8гб из 78гб свободно на диске (с учетом синхронизированной базы)

`Также, по части лога ниже, процесс ноды завершается принудительно. Нода перестраивала блум фильтры, но потом без каких-либо сообщений об остановке появилось сообщение с

[2020-09-18 18:20] Crypto2 commented on #3263
It's only up to 2245276 right now.

[2020-09-20 21:06] msmolyakov commented on #3263
So your node is on the current blockchain height

[2020-09-20 21:41] Crypto2 commented on #3263
No it's still way behind.

For example I'm only on block 2248073 now and current on wavesexplorer is 2249822 so still over 24 hours behind even after running 11 days.

[2020-09-21 08:41] msmolyakov commented on #3263
Compare block headers [/blocks/headers/at/2248073](http://nodes.wavesnodes.com/blocks/headers/at/2248073) of your node and official node, please. The `id` field values should be equal on the same height. Otherwise your node is most likely forked.

And could you send me log file `/var/log/waves/waves.log` of your node?

[2020-09-21 10:41] axxxxx commented on #3269
Идут 3-и сутки "работы" ноды. Она как обычно отработала какое-то время (не долго). Далее "упала", никаких признаков жизни не подает, только в логи постоянно пишет следующее (взят произвольный кусок лога с конца файла):

`2020-09-21 11:26:01,443 INFO  [ctor.default-dispatcher-6] a.event.slf4j.Slf4jLogger - Slf4jLogger started
2020-09-21 11:26:01,871 INFO  [main] c.w.Application$ - Waves v1.2.12 Blo

[2020-09-21 13:08] msmolyakov commented on #3269
Лог и не нужно обнулять. При корректной остановке ноды были бы примерно такие сообщения:
[code]
Но их нет. Значит нода завершает работу некорректно. Об этом же говорят ошибки о проблемах с bloom фильтрами:
[code]
Здесь она пытается перестроить bloom фильтр, но её работа некорректно прерывается и она пытается запуститься снова.

Какая версия Java используется?
Сколько свободного места на диске?
Ско

[2020-09-21 13:33] axxxxx commented on #3269
java :

Место :

p.s.: после запуска на новой базе (sudo -u waves bash -c "wget -qO- http://blockchain.wavesnodes.com/blockchain_last.tar.gz --show-progress | tar xf -") места около 10%

Памяти на сервере 4гб

Памяти без ноды:

Памяти с рабочей нодой (пока не упала):

Настройки:

[2020-09-21 18:32] Crypto2 commented on #3263
It's on the right chain, it's just syncing extremely slowly. Normally I keep the log off, I turned it on now and will post one later on.

[2020-09-28 07:24] BoxiGod commented on #2854
Still there's no such API in data services neither node. I agree with bodrych that it would be useful for leasing reward calculations

[2020-09-28 12:17] pivoo81 commented on #2854
Hi, yes.
The development of dataservices is postponed.
If this would be developed in the node then there is a limit of 2000 blocks in depth for such things.
But there is an extension will be published soon, which can help you to develop own service for this.
Here is PR for it https://github.com/wavesplatform/Waves/pull/3226

Soon the docs and howto will be available for this extension.

[2020-09-28 12:19] pivoo81 commented on #2854
btw, why do you need active leases at certain height ?

[2020-09-28 14:26] bodrych commented on #2854
that can be increased :upside_down_face:

[2020-09-29 14:30] msmolyakov commented on #3263
How is it going?

[2020-10-01 13:03] Crypto2 commented on #3263
Not well, I've also tried it on a dedicated server with a lot more power as well and it's a bit faster but still crawling. I don't see any errors in the log or anything. Right now I'm just watching http://blockchain.wavesnodes.com/ daily and hope if I can load the next blockchain snapshot fast enough it might be able to catch up.

[2020-10-04 08:59] pivoo81 commented on #2854
yes. it can be increased even now with config file, but it will increase Node state size.

[2020-10-04 18:31] bodrych commented on #2854
@pivoo81 not extremely :) I have increased it to 3,000,000 blocks when waves-metrics was alive

[2020-10-05 02:23] Crypto2 commented on #3263
It has caught up now. 25 days to sync is pretty crazy :(

[2020-10-05 11:50] jadechip opened #3280 "config error with after upgrading to v1.2.13"
**Describe the bug**
A clear and concise description of what the bug is.
After having upgraded the node to verseion 1.2.13 on Debian, I get the following error:
[code]
I have verified that I am passing all required variables to the config file.

Please advise.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade node to version v1.2.13
2. Start the node, here is how I am doing it:
[code]

[2020-10-05 13:15] msmolyakov commented on #3263
So did you turn logs on? Could you send it?

[2020-10-05 13:16] msmolyakov commented on #3218
Closed due to inactivity. Please feel free to reopen the issue if this problem is still actual.

[2020-10-05 13:16] #3218 closed

[2020-10-05 13:22] msmolyakov commented on #3269
Прошу прощения за долгий ответ. Проблема еще актуальна?

Если да, то я по приведенным значениям видно, что для ноды выделяется 2 Гб памяти, но до её запуска свободно меньше, ≈1.9. В таком случае при попытке забрать весь разрешенный объем памяти процесс может быть прерван с ошибкой OutOfMemory.

В этом можно убедиться по сообщениям в stdout в момент падения:

`journalctl -u waves -f`

[2020-10-05 13:24] msmolyakov commented on #3241
Closed due to inactivity. Please feel free to reopen the issue if this problem is still actual.

[2020-10-05 13:24] #3241 closed

[2020-10-05 13:27] msmolyakov commented on #2750
Hi, @Caveman2019!
Is your problem case actual on the latest 1.2.13 version?

[2020-10-05 14:43] Caveman2019 commented on #2750
Hello. We added duplicated nodes on Linux as a solution for this. For rebuilding states it still takes very long on Windows as there is not any data for download.

[2020-10-06 08:37] msmolyakov commented on #3280
Please make sure:
- in the run command the path to `config.conf` file is correct
- `config.conf` exists in the specified path
- `config.conf` has property `waves.blockchain.type` and it has one of the values: `MAINNET`, `TESTNET`, `STAGENET` or `CUSTOM`

[2020-10-07 18:12] vbonini commented on #3280
Hello. I'm working with @jadechip to troubleshoot this node issue, and we confirmed each of those points with our deployment.

- `config.conf` is in the top-level folder with the the jar file. We've also specified `./config.conf` in our command.
- `cat` the config shows the appropriate data with our wallet changes. This unmodified config worked with previous `waves` versions.
- `config.conf` is ow

[2020-10-07 21:16] msmolyakov commented on #3280
Node config uses [HOCON](https://github.com/lightbend/config#using-hocon-the-json-superset) format.

In HOCON, string values could be defined in double quotes `"`, or unquoted or as substitution `${someVar}`.\
But single quotes `'` become part of the value.

Try to change the `'MAINNET'` value to `"MAINNET"` or `MAINNET`. And also replace other values with single quotes, if any.

[2020-10-07 23:15] vbonini commented on #3280
Thank you. I actually complicated this ticket by not mentioning that we originally used env var `type = ${BLOCKCHAIN_TYPE}` in our config, but that no longer works with the new update. Then I tried `'MAINNET'`. And then you pointed me in the right direction.

I got it working with `"MAINNET"` as you directed. After some testing, here are my results.

[code]

Ideally we would use the env var to set

[2020-10-09 14:50] schwab opened #3284 "Dockerfile instance not working : unable to access jar file"
Attempting to run the simplest docker implementation (on Ubuntu 20.04 host) results in a jar file failure

**To Reproduce**
1. docker run -it wavesplatform/node

**Expected behavior**
Service should startup and meet all dependencies automatically. Instead we get a 404 when trying download some resource (expect that this file is missing or moved and Dockerfile needs an updated reference... /waves-n

[2020-10-09 22:56] msmolyakov commented on #3284
This image is deprecated. Please use this: https://hub.docker.com/r/wavesplatform/wavesnode

[2020-10-10 03:31] schwab commented on #3284
Thank you for the reference. I'll close this.

[2020-10-10 03:31] #3284 closed

[2020-10-10 21:06] msmolyakov commented on #3280
Btw, if you use a node in docker and want to set blockchain type as env variable, then perhaps this image will be quite convenient: https://hub.docker.com/r/wavesplatform/wavesnode

It accepts blockchain type as `WAVES_NETWORK=mainnet` env variable.

[2020-10-10 21:06] #3280 closed

[2020-10-13 07:55] pivoo81 commented on #2854
So what about the use case for active leases at height ?
what algorythm would you implement for reward calculations ?

[2020-10-13 10:06] pivoo81 commented on #2854
@bodrych in this case not only state size is increasing. In current implementation all operations (reading and writing) are slowering because of database size.

[2020-10-13 13:31] BoxiGod commented on #2854
In my case I have a telegram bot(@BoxiNodeBot), this bot is sending live messages of distributed rewards of the mined block for each leaser. So, the bot is monitoring blocks in real-time and calculating rewards in real-time(it's cool as leasers can see their rewards in real-time).
Active leases at height will be very useful as I will use it in the bot for every mined block to calculate it more pre

[2020-10-15 13:04] msmolyakov commented on #3284
Hi, @schwab!

It turned out that this image was broken. Now it has already been fixed with tags `1.2.13` and `latest`. If you have any problems using it, then pull it and try again, please.
https://hub.docker.com/r/wavesplatform/wavesnode

[2020-11-16 09:48] wizarden1 opened #3304 "Docker can't run version 1.2.14 and 1.2.13"
**Describe the bug**
Can't Start version 1.2.14 in docker.

**To Reproduce**
Steps to reproduce the behavior:
1. Run in Docker

**Expected behavior**
Run.

**Desktop (please complete the following information):**
 - OS: [Ubuntu]
 - Version 16.04 LTS

**Additional context**
During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/waves-node/st

[2020-11-19 18:07] msmolyakov commented on #3304
Hi, @wizarden1!

Could you please provide the exact command you're running?
And what image are you using? [node](https://hub.docker.com/r/wavesplatform/node) or [wavesnode](https://hub.docker.com/r/wavesplatform/wavesnode)?

[2020-11-19 22:11] wizarden1 commented on #3304
I use this docker-compose file

version: "3.7"

services:
  waves:
    container_name: waves
    image: wavesplatform/node:latest
    environment:
      - WAVES_VERSION=1.2.14
      - WAVES_AUTODETECT_ADDRESS=yes
      - WAVES_NETWORK=TESTNET
# StdOut log Level: OFF, ERROR, WARN, INFO, DEBUG, TRACE
      - WAVES_LOG_LEVEL=INFO
      - WAVES_HEAP_SIZE=2g
      - WAVES__REST_API__ENABLE=yes
      -

[2020-12-02 12:20] msmolyakov commented on #3304
@wizarden1, sorry for the late reply.

The image [wavesplatform/node](http://hub.docker.com/r/wavesplatform/node) you're using is deprecated. Please try to use [wavesplatform/wavesnode](http://hub.docker.com/r/wavesplatform/wavesnode).

Example of compose file:
[code]
.env:
[code]

[2020-12-03 22:07] vbonini opened #3314 "Cannot connect to peers after restart"
**Describe the bug**
After a simple restart, we can no longer connect to peers (bootstrap or otherwise). We provide the initial list in the config file like we've always done, and nothing about our setup has changed from when we deployed `release 1.2.14` two or three weeks ago. We encountered this behavior with four unique nodes, two each behind two isolated load-balancers.

**To Reproduce**
Steps

[2020-12-03 22:22] msmolyakov commented on #3314
Please try to remove the `known-peers` property and `peers.dat` file and try to start node again.

[2020-12-03 23:01] vbonini commented on #3314
Problem with my chosen peers/ports. Falling back to defaults resolved the issue.
[code]

[2020-12-03 23:01] #3314 closed

[2020-12-10 16:47] wizarden1 commented on #3304
Hi, I perfectly start test node with this config

But have problem start mainnet. Node this one and prod node don't want to download blockchain or connect to anybody.
Even if i download blockchain it doesn't helped.

[2020-12-11 11:35] DrBlast commented on #3304
@wizarden1 please,  check known-peers in your waves.conf file
https://github.com/wavesplatform/Waves/blob/38bd719753737b91da5f306e9d374169d05882c0/node/src/main/resources/network-defaults.conf#L141

[2020-12-11 13:38] wizarden1 commented on #3304
["52.57.147.71:6868","35.156.19.4:6868","34.253.153.4:6868","52.50.69.247:6868"]
this one added automatically and not worked, after i add peers everything up and running

[2020-12-11 13:53] wizarden1 commented on #3304
thanks

[2020-12-14 19:37] iqoptionizator commented on #219
i also dont understand, where i can find an Api Key to use Public Nodes, like a https://nodes.wavesexplorer.com

[2020-12-15 15:19] DrBlast commented on #219
@iqoptionizator node api-key is not a public info. You can set up your own api-key for your own node.

[2020-12-20 19:16] BuyOwnEx commented on #2661
The same problem. API key stop working

What was done:
Create unique string value that you will use as API key.

Go to Swagger web interface.

Open the /utils/hash/secure

(opens new window) API method and input your unique string in the message field.

Click Execute to get the hashed API key.

Use the hashed API key as the value of the api-key-hash parameter in your node configuration file.

Rest

[2020-12-20 19:34] BuyOwnEx commented on #2661
So my decision was:
1. Kill java process via command
`kill -9 <pid>`
2. Restart node

[2020-12-21 09:32] DrBlast commented on #2661
@BuyOwnEx I've checked API-Key on my node, it works fine. Please, check again.
String from response /utils/hash/secure you put into rest-api.api-key-hash in your node config
in curl you should use initial, not hashed value, for example you have api-key

api -key - this_is_test_api_key
hash - 31pPdxM5W8945VSyh9e5naYacdHYsdPMbYdm5Nikjkfn

so rest-api.api-key-hash = "31pPdxM5W8945VSyh9e5naYacdHYsdPMb

[2021-01-03 05:22] viraladmin opened #3338 "how to attach genesis wallet to miner?"
The wallet directive in the configuration require seems to require a password else the miner won't start.

The genesis script only seems to create:

seed
seed test
account seed
private account key
public account key
account address

So how does one attach the genesis wallet to the miner so it can actually mine.

[2021-01-03 07:47] #3338 closed, assigned to nobody

[2021-01-03 08:16] viraladmin opened #3339 "Not scheduling block mining because Balance 1000 of is lower than required for generation"
I thought the required balance was 1000 to mine on a custom chain yet my error logs are telling me 1000 is to low. WHat is the required amount and is there a way to reduce it?

[2021-01-03 18:53] #3339 closed, assigned to nobody

[2021-01-06 11:13] swatim2020 opened #3340 "Error:System has not been booted with systemd as init system (PID 1). Can't operate. Couldn't find an alternative telinit implementation to spawn."
I have tried to install waves on Ubuntu 18.04LTS link for installing waves in ubuntu : https://docs.waves.tech/en/waves-node/how-to-install-a-node/on-ubuntu

command: sudo apt install waves

And I got this error

Error:System has not been booted with systemd as init system (PID 1). Can't operate. Couldn't find an alternative telinit implementation to spawn.

and i also get same error when I use co

[2021-01-06 11:15] swatim2020 opened #3341 "ERROR: 18:28:45,568 ERROR [main] c.w.actor.RootActorSystem$ - Error while initializing actor system wavesplatform com.protonail.leveldb.jna.LevelDBException: IO error: /root/.local/share/waves-testnet/data: Invalid argument"
I want to fork the waves blockchain in which I wanted to change the coin. I first change the name of coin in waves node

link : https://github.com/wavesplatform/Waves/blob/version-1.2.x/node/src/main/scala/com/wavesplatform/transaction/assets/exchange/AssetPair.scala

according to the link I deployed on windows and I got this error.

ERROR: 18:28:45,568 ERROR [main] c.w.actor.RootActorSystem$ - Er

[2021-01-06 19:37] viraladmin opened #3342 "Exception when compiling 171 sources to classes"
Error Occurs on Ubuntu 18.08 when attempting to manually compile. Specifically when issuing the command:

`sbt checkPR`

Errors were way to long for a post so I created a pastebin.

Errors pastebin: [https://pastebin.com/fTNJjAQW](https://pastebin.com/fTNJjAQW)

[2021-01-07 16:04] viraladmin commented on #3342
So I tested this with java 1.8, 1.9 and 1.11 All three had errors with `sbt checkPR`. I also tried with version 1.2.x and 1.3x both had issues.

With 1.8 I end up getting an

java.lang.OutOfMemoryError: Java heap space

It still seemed to compile okay when I did a `sbt packageAll`

[2021-01-07 17:00] viraladmin opened #3343 "Change first character"
How do I change the first character of the wallet address? This seems to be the only thing I havn't been able to find anywhere in the code.

[2021-01-09 07:45] swatim15 opened #3344 "Fatal error when deploying waves on Bitvise client SSH."
Hello, I tried to deploy Waves blockchain locally with the help of waves documentation.
link for installing: [https://docs.waves.tech/en/waves-node/how-to-build-and-test-a-node](https://docs.waves.tech/en/waves-node/how-to-build-and-test-a-node)

After installing deb file and run which jar file, i got the error : "Fatal error in channel, terminating application
java.lang.NoSuchMethodError: java.ni

[2021-01-10 00:36] viraladmin commented on #3344
I would recommend checking your java version. It needs to be 1.8.

`java -version`

If its the wrong version see if you have `update-java-alternatives` installed and if not install it and use it to switch java versions.

[2021-01-11 05:20] swatim2020 commented on #3344
Its same 1.8.0 java version and it is working fine on locally but giving issues when i try to deploy it on cloud Ubuntu server(Bitvise SSH Client).

[2021-01-18 08:36] DrBlast commented on #3344
How do you build jar? Error in stake trace occurs if you use 1.11 compiler
If you installed deb you should start node as service, not as jar

[2021-01-18 08:41] DrBlast commented on #3343
First two bytes of address is address version and chain id. For you custom blockchain you should set your own chainid:
https://docs.waves.tech/en/waves-node/private-waves-network#setup-jar-node-with-custom-blockchain
network-type in genesis.conf is you chain id

[2021-01-18 09:06] DrBlast commented on #3342
sbt checkPR - compile and run unit tests. It's not enought mem to run unit tests on our server
You can compile sources without tests using  sbt packageAll

[2021-01-18 16:03] #3342 closed, assigned to nobody

[2021-01-22 15:26] DrBlast commented on #3340
try this command:
`systemctl status`

Write please if it success or not

[2021-01-22 15:42] DrBlast commented on #3341
Changing coin name in AssetPair file is not enough. You can see coin name only in exchange tx, in other txs you should use null as assetID.
You cal contact with [BlackTurtle](https://www.blackturtle.eu/) , he forked waves blockchain

[2021-01-26 16:46] #3343 closed, assigned to nobody

[2021-01-26 17:00] viraladmin opened #3356 "Understanding Base Target?"
When I setup my own custom network, the baseTarget seems to always get exponentially larger - in fact so much so that it ends up breaking things like the block explorer if it gets to large (issue of a number being to large as its not set as a string type).

Yet when I look at the baseTarget on nodes.wavesplatform.com that number is always less than 100. How does waves keep the baseTarget low witho

[2021-02-07 18:27] viraladmin commented on #76
This is an old request, but there isn't really any suggestions on how to secure this, Pretty much its just start the node and then delete sensitive information... which obviously means needing the wallet data every time you want to restart... not an optimal solution.

I would propose a change in the way that mining works. My suggestion is something like this:

A node that generates its own wallet

[2021-02-08 16:10] Crypto2 opened #3362 "Waves startup issue when there is a wallet issue."
I've noticed 2x over the years that Waves has a dangerous issue when it starts up if there is an issue loading the wallet. Instead of printing an error and refusing to run it just silently creates a new wallet with a new seed (even if the wallet seed is specified in the config file). It actually doesn't mention there was an issue at all and acts like nothing happened.

[2021-02-08 22:43] Crypto2 opened #3363 "A way to bulk generate addresses when restoring wallet."
When you are restoring a wallet with the RPC there isn't a way I see to regenerate all your addresses except to POST to /addresses in an endless loop that can be hours/days long.

Would be good if there was an RPC to restore up to a specified index, and maybe when you generate an address it returns in the current index as well so that could be stored for later reference.

[2021-02-09 11:31] DrBlast commented on #3356
In version [1.2.x](https://github.com/wavesplatform/Waves/tree/version-1.2.x) (not released yet) we implemented  new mechanism of genesis block generation. Now you do not need to calc base target yourself. Base target will be calculated automatically. Base target depends on genesis block timestamp and initial balance.

[2021-02-11 21:36] viraladmin commented on #3356
I'm on the 2.17 release at the moment Would be helpful to understand how basetarget currently works - or more to the point how waves keeps the target base so low. Otherwise I will have to roll a new chain when 2.x (which is weird to say seeing as 2.x implies any version 2 and I am on 2.17) releases and then roll a new chain and merge old to new.

[2021-02-12 07:23] swatim2020 opened #3365 "How to use 100 million Wave Tokens which are already distributed while creating genesis block in custom network?"
I am working on Waves Blockchain. I have created my testnet network locally and distributed the 100 million tokens in 5 different accounts locally. But the problem is that I am not able to use them because it starts from genesis block and I am not able to transfer them into a new account.

In original waves, it uses dex application to exchange into waves or from waves to the different token. and o

[2021-02-14 09:18] viraladmin commented on #3365
Well seeing as you are talking about genesis block, this is not really the waves testnet. Its a local testnet of your own genesis. When you create a genesis block, you don't define the addresses, you set the seeds and the wallets are automatically generated for you based on those seeds. In your genesis creation config you would do something like

[code]

All the wallets combined should equal the v

[2021-02-20 10:45] EminBudak opened #3370 "Ubuntu waves_1.2.17_all.deb install gives an error"
btr@bt1-xl:~/waves$ **sudo dpkg -i waves_1.2.17_all.deb**
(Reading database ... 94457 files and directories currently installed.)
Preparing to unpack waves_1.2.17_all.deb ...
dpkg: error processing archive waves_1.2.17_all.deb (--install):
 **conffile name 'usr/share/waves/conf/application.ini' is not an absolute pathname**
Errors were encountered while processing:
 waves_1.2.17_all.deb

Ubuntu 20

[2021-02-26 23:28] djpnewton opened #3376 "Testnet fails to deserialize block 1413341"
See also: https://testnet.wavesexplorer.com/blocks/1413341

[2021-03-05 12:05] swatim2020 opened #3379 "Derive the private key from wallet.dat file"
I am starting my new waves blockchain by creating a jar file and start from the genesis block. It starts the node and shows the seed base58 hash and account as well as wallet data is stored in the wallet.dat file in encrypted form.

I am able to get account seed hash by API /addresses/seed/{address}. but I don't find where the seed is stored in text format or how can I derive the private key from

[2021-03-09 14:33] DrBlast commented on #3379
These links represent curve25519 implementation.
To interact with blockchain you can use client libraries: https://docs.waves.tech/en/building-apps/waves-api-and-sdk/client-libraries/
They contains methods to create private key from text seed, account seed, bytes.
In wallet section of config you should set base58 encoded staring of your seed. This is not hash, this is another encoding of text.
Whe

[2021-03-09 14:34] DrBlast commented on #3376
fixed in release 1.2.18.
You should rebuild state to set your node to right chain

[2021-03-09 14:34] #3376 closed, assigned to phearnot

[2021-03-09 14:41] #3341 closed, assigned to nobody

[2021-03-09 14:43] #3304 closed

[2021-03-16 09:02] DrBlast commented on #3356
https://docs.wavesenterprise.com/en/latest/how-the-platform-works/consensus/PoS.html

[2021-03-18 08:53] DrBlast commented on #3370
I've tried to install deb on in docker with  ubuntu  20.04
`root@333219a8b410:/# dpkg -i waves_1.2.17_all.deb
(Reading database ... 5964 files and directories currently installed.)
Preparing to unpack waves_1.2.17_all.deb ...
Unpacking waves (1.2.17) over (1.2.17) ...
Setting up waves (1.2.17) ...
/var/lib/dpkg/info/waves.postinst: 61: /sbin/init: not found
/var/lib/dpkg/info/waves.postinst: 61: /

[2021-03-18 10:04] DrBlast commented on #3363
@Crypto2 what kind of business case do you have that you need to create about million addresses per day? Why don't you want to use one of our libs or create your own to sign and broadcast transaction using lib, not node? It could be much faster if you are using a library

[2021-03-18 14:54] Crypto2 commented on #3363
I'm not generating millions/day, I said that's how long it takes to restore a wallet if it crashes/corrupts and you have to restore from seed and you had a bunch of addresses in the wallet.

There isn't a Waves SDK in my language so I can't use one of them.

[2021-03-21 15:51] egloos opened #3393 "error on Mac OS m1 native mode"
2021-03-21 21:57:17,590 INFO [main] c.w.Application$ - Starting…
2021-03-21 21:57:17,750 INFO [ctor.default-dispatcher-4] a.event.slf4j.Slf4jLogger - Slf4jLogger started
2021-03-21 21:57:17,785 INFO [main] c.w.Application$ - Waves v1.2.18 Blockchain Id: W
2021-03-21 21:57:17,790 DEBUG [main] c.w.database.package$ - Open DB at /Users/userName/WAVES/data
2021-03-21 21:57:17,806 ERROR [main] c.w.acto

[2021-03-25 08:55] phearnot commented on #3393
The node requires native LevelDB library to run. Unfortunately, the library itself has not yet been ported to Apple Silicon (even Homebrew does [not](https://formulae.brew.sh/formula/leveldb#default) provide Apple Silicon builds just yet). We will probably add support for native mode on M1 Macs, but for now only way to run the node is via Rosetta.

[2021-03-31 10:28] lcgogo opened #3415 "Can not find waves-all*.jar in 1.2.20 waves docker image"
**Describe the bug**
Can not find waves-all*.jar in 1.2.20 waves docker image

In https://github.com/wavesplatform/Waves/blob/master/docker/Dockerfile
line 65
COPY --from=builder /waves/node/target/waves-all-*.jar /usr/share/waves/lib/

**To Reproduce**
Steps to reproduce the behavior:
1. docker pull wavesplatform/wavesnode:1.2.20
2. docker run -it --entrypoint "/bin/sh" wavesplatform/wavesnode:1.

[2021-03-31 10:30] lcgogo commented on #3415
In the 1.2.17 docker image

docker run -it --entrypoint "/bin/sh" wavesplatform/wavesnode:1.2.17
$ ls -l /usr/share/waves/lib/
total 96740
drwxr-xr-x 2 waves waves     4096 Dec 25 14:31 plugins
-rwxr-xr-x 1 waves waves 99051861 Dec 25 14:30 waves-all-1.2.17.jar

[2021-03-31 16:34] egloos commented on #3393
ok I'm using rosetta

[2021-03-31 16:34] #3393 closed, assigned to phearnot

[2021-04-21 15:22] DrBlast commented on #3415
In latest release we've made changes in building image for docker process. Please follow new instructions:
https://docs.waves.tech/en/waves-node/waves-node-in-docker#prerequisites

[2021-04-27 01:41] affiliatepayday opened #3456 "Can't sync with custom network"
2021-04-26 21:35:22,399 DEBUG [nio-worker-group-3-2] c.t.n.PeerDatabaseImpl - Suspending [073a2f57 real.ip:6860]
2021-04-26 21:35:23,353 DEBUG [nio-worker-group-3-4] c.t.n.PeerDatabaseImpl - Suspending [cc47e72e 127.0.0.1:6860]

I have a custom chain and the first node runs fine, but I can't seem to get a second node to connect to it. No matter what I try I get the above output and no block update

[2021-04-27 08:46] DrBlast commented on #3456
Do nodes see each other? Or you have network problems? Where did you set ip 127.0.0.1?
You should set another node ip in know-peers (network section) and bind address is "0.0.0.0" for any address

[2021-04-27 14:01] affiliatepayday commented on #3456
The first node:

[code]

The second node:

[code]

My firewall has 6860 open

I am able to telnet into 127.0.0.1 6860
I am able to telnet into actual.public.ip 6860 (from local machine only)
I am able to telnet into 127.0.0.1 6861

I am also able to access the api on the first node, have a wallet connect to it, issue commands, etc. I have a block explorer working, just can't get the second node to

[2021-04-27 20:06] affiliatepayday commented on #3456
Just to rule things out, I also stopped the node, set sshd to run on port 6860, and loggedin via ssh perfectly without a drop - then I switched everything back so ssh port is back to original, restarted node, and again can't access the 6860 port - immediately dropped.

This leads me to assume it is something with the server/client connection - not an host dropping port/NAT issue.

These are both d

[2021-04-28 08:26] DrBlast commented on #3456
declared address should not be 127.0.0.1, it's a localhost. Do you have both nodes on one host?
Nodes should be available by telnet from one host to another.
In known peers you should use port that you specified in config for another node - 6861, like this:
node1 - known-peers = ["public.ip.node-2:6861"]
node2 - known-peers = ["public.ip.node-1:6860"]

Generating balance updates every 1000 blocks

[2021-04-28 23:20] #3456 closed, assigned to nobody

[2021-04-28 23:43] affiliatepayday opened #3462 "MessageToMessageEncoder.java:104"
I am on a cloned chain oF 1.2.17. When trying to sync nodes the following error happens:

[code]

 Could someone clue me in as to what is going wrong here?

[2021-04-28 23:49] iwansurya commented on #3462
No idea

[2021-04-29 04:50] affiliatepayday commented on #3379
You can also install wavesfx wallet and import the seen base58 seed if all you are looking to do is withdraw.

[2021-04-29 08:48] DrBlast commented on #3462
@affiliatepayday can you post whole error stacktrace?

[2021-05-01 18:38] affiliatepayday commented on #3462
@DrBlast sorry for my delay.

[code]

After this it just repeats for every block  BlockAppendError(Block is not a child of the last block...

[2021-05-02 02:25] affiliatepayday commented on #3462
I solved this problem, no one other than me should ever have this problem so I would prefer not to post what the solution was.

[2021-05-02 02:25] #3462 closed, assigned to nobody

[2021-05-02 02:35] affiliatepayday opened #3466 "Native library (win32-x86-64/leveldb.dll) not found in resource path"
This is hopefully my last question.

I am doing a custom build (not a custom chain) and windows users get an error about leveldb.dll not being found in the build when trying to run a miner.

How do I compile/cross compile with the custom leveldb.dll?

Also will this same issue arise on macOS?

Currently works flawlessly on linux. I did custom build leveldb locally so it may be something I should h

[2021-05-02 07:17] GiuliaLivieri opened #3467 "'State check failed. Reason: Accounts balance errors'"
**Describe the bug**
Hi to everyone, I am trying to perform a datatransaction with my pc via pywaves.
However, I receive the error: 'State check failed. Reason: Accounts balance errors'. The problem is that I have waves on the account. What is going on?

[2021-05-12 16:40] DrBlast commented on #3467
It's not a node issue, pywaves is 3rd party tool. If you have questions about pywaves usage or it's bugs you should send them to pywaves project.

[2021-05-13 08:51] phearnot commented on #3466
Are you building a fat jar (`assembly`) or a ZIP archive (`node/Universal/packageBin`)? Are there any modifications in your build? The library we depend on already includes pre-built leveldb.dll for 64-bit Windows, so there shouldn't be any reason to manually recompile it when building the node.

[2021-05-13 16:04] affiliatepayday commented on #3466
I got this sorted already, sorry I forgot to close this question.

[2021-05-13 16:04] #3466 closed, assigned to nobody

[2021-05-15 00:43] Crypto2 commented on #3362
Any update on this? It seems to do it randomly even if it was shut down properly let alone if there was any error or crash or anything.

[2021-05-17 05:01] DrBlast commented on #3362
1. If wallet file is corrapted, then node will not start.
2. If you change seed and not delete wallet-file, node will start with old seed. Wallet seed has a priority to config-seed. It's not a bug, but we will change tis option in future releases
3. If you delete wallet file, node will create new instead of deleted.

Or you have another issue?

[2021-05-17 11:22] DrBlast commented on #3370
Closed due to inactivity. Please feel free to reopen the issue if this problem is still actual.

[2021-05-17 11:22] #3370 closed, assigned to phearnot

[2021-05-17 11:23] DrBlast commented on #3269
Closed due to inactivity. Please feel free to reopen the issue if this problem is still actual.

[2021-05-17 11:23] #3269 closed

[2021-05-17 11:23] DrBlast commented on #3365
Closed due to inactivity. Please feel free to reopen the issue if this problem is still actual.

[2021-05-17 11:23] #3365 closed, assigned to nobody

[2021-05-17 11:23] DrBlast commented on #3356
Closed due to inactivity. Please feel free to reopen the issue if this problem is still actual.

[2021-05-17 11:23] #3356 closed, assigned to nobody

[2021-05-17 11:24] DrBlast commented on #3415
Closed due to inactivity. Please feel free to reopen the issue if this problem is still actual.

[2021-05-17 11:24] #3415 closed, assigned to phearnot

[2021-05-17 11:24] DrBlast commented on #3263
Closed due to inactivity. Please feel free to reopen the issue if this problem is still actual.

[2021-05-17 11:26] DrBlast commented on #2750
Closed due to inactivity. Please feel free to reopen the issue if this problem is still actual.

[2021-05-17 11:26] #2750 closed

[2021-05-17 11:27] DrBlast commented on #2575
Implemented in version 1.3.x

[2021-05-17 11:27] #2575 closed

[2021-05-17 11:28] DrBlast commented on #2794
Closed due to inactivity. Please feel free to reopen the issue if this problem is still actual.

[2021-05-17 11:28] #2794 closed

[2021-05-18 06:53] deemru opened #3480 "kamon.metric.Timer warns about negative values due to NTP time sync"
We still (on the newest node 1.3.4) get errors like these:
```WARN  [ecution-context-global-XX] kamon.metric.Timer - Failed to record value [-70000000] on [span.processing-time,{operation=block-appender,error=false}] because the value is outside of the configured range. The recorded value was adjusted to the highest trackable value [3600000000000]. You might need to change your dynamic range confi

[2021-05-18 08:09] phearnot commented on #3480
Hi @deemru, thanks for reaching out. The root cause of an issue at hand is not actually the metrics subsystem, it's NTP. Note that the value which did not fit in the range is negative: it's because the time has been adjusted during block application. This is most likely due to the fact that the `pool.ntp.org` name has been resolved to an address of another server, which is not quite in sync with t

[2021-05-18 09:23] deemru commented on #3480
Can you please explain to me how this code which should do many many things to complete is better than if you just add before it simple condition like `if( metrics.enabled ) do stuff`?

https://github.com/wavesplatform/Waves/blob/7f83b021c461324a6476bde88e72937dce3193b9/node/src/main/scala/com/wavesplatform/state/appender/MicroblockAppender.scala#L28:

[2021-05-18 11:55] DrBlast commented on #3344
Closed due to inactivity. Please feel free to reopen the issue if this problem is still actual.

[2021-05-18 11:55] #3344 closed, assigned to nobody

[2021-05-18 11:58] DrBlast commented on #3363
What language do you use? I've tried to restore addresses, it took about 10ms per address.

[2021-05-18 12:09] phearnot commented on #3480
As I've said, «doing many things to complete» does not take that long, so there's no point in optimizing this piece, because these optimizations will not yield measurable block application speedup.

[2021-05-18 12:19] deemru commented on #3480
For me your approach to resolve this issue is look like:
- you set `waves.miner.enable = no` but we still do full processing just not sending results to other nodes
- you set `waves.rest-api.enable= no` but we send everything to /dev/null it is fast

[2021-05-18 12:39] phearnot commented on #3480
I'm sorry, I can't see how enabling/disabling miner or REST API is related to the original issue. If you are concerned with API or miner performance impact on import speed or ordinary block application, please consider opening another issue.

We will consider tweaking `measureSuccessful` to ignore negative values so that there won't be any confusing warnings in the logs, in the meantime please use

[2021-05-18 12:46] deemru commented on #3480
Metrics `metrics.enable = no` as another `enable`-like features must be completely disabled its functionality because it is set to `enable = no` not because it fast or not.

In our world of metrics, telemetry etc. An user should be sure he can opt-out of these things.

[2021-05-19 04:45] Crypto2 commented on #3362
1. This would be the expected behavior but in these cases I'm seeing it will start without printing any errors and with a new seed. It mainly happens if there is a crash while the node is running but it does it just randomly on startup as well.
2. This would be the expected behavior but I haven't tested it so I can't comment on it.
3. This is correct from my experience, every time I've seen it mak

[2021-05-19 04:48] Crypto2 commented on #3363
PHP, this is over the RPC to the internal wallet. Individual addresses are fast, it's just when you have thousands+ of them it adds up to a lot of time.

For example if you had 100,000 addresses * 10 ms = 1,000,000 ms / 60,000 (1 hour) = 16.6 hours.

[2021-05-19 11:25] Cock-tail420 opened #3483 "project don't builds"
**Describe the bug**
project don't builds because of leveldbjni-all-1.18.3.pom is missed everywhere, build log
https://paste2.org/3N6XbcPB
**To Reproduce**
Steps to reproduce the behavior:
1. clone repo
2. checkout 1.3.4
3. try to build( i use sbt universal:packageZipTarball)
4. See error

**Expected behavior**
project must build

**Screenshots**
If applicable, add screenshots to help explain your

[2021-05-19 12:04] phearnot commented on #3480
No reporters are enabled by default, so nothing is shared with third party, unless explicitly configured. I believe this fits the definition of opt-in.

I'm locking this issue, because the root cause has been identified and action plan has been [determined](https://github.com/wavesplatform/Waves/issues/3480#issuecomment-843136121). Please feel free to open a separate issue if you feel so inclined.

[2021-05-20 02:13] Crypto2 commented on #3263
It is definitely still slow, I updated to the latest about 24 hours ago since I was having rollback issues and saw there was an update. It was only 2000 blocks behind at that time and now it is 700 blocks behind still.

[2021-05-20 04:46] affiliatepayday opened #3484 "Issues mining on clone"
I have the weirdest issue I cannot figure out for the life of me.

I have a fork, compiled fine, runs fine.... except.... the mining.

If I run it as a single node - all works fine.
If I connect a second node - the second node takes over mining and the first stops earning entirely.
If I connect a third node - it takes over mining from the second node and the second stops mining entirely.

If I dis

[2021-05-20 06:42] #3484 closed, assigned to nobody

[2021-05-23 17:15] affiliatepayday opened #3488 "Nodes auto forking"
I have tried to solve this several times but no matter what I do this problem seems to arise again.

The problem is nodes seem to keep auto forking and thus they can't append more blocks

` DEBUG [ecution-context-global-52] c.t.s.a.BlockAppender$ - [92aa42bc ip:port] Could not append Block BlockAppendError(Block is not a child of the last block,Block`

The block time is the default 1 minute - ther

[2021-05-24 09:00] DrBlast commented on #3488
You can find a reason in previous log messages. This is a result of those actions. Can you send trace-logs  before and including this error?

[2021-05-24 09:41] DrBlast commented on #3483
dl.bintray [not work](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/) since 1 May.
Issue resolved in version 1.3.x and will be released soon.
You can checkout and build version 1.3.x

[2021-05-24 22:55] affiliatepayday commented on #3488
The logs are far to large to paste but here is a complete download of the log file. https://file.io/IgPF7hff77iT

[code]

[2021-05-25 10:57] DrBlast commented on #3363
deemru wrote a lib for php: https://github.com/deemru/WavesKit

1 hour contains 3600 seconds = 3600000 ms
1,000,000 / 3600000  = 0.27

[2021-05-25 12:30] DrBlast commented on #3488
File is not available. Do your nodes stack after these message  and not arise height? What do you do to return nodes to right fork?
If nodes continue to sync and arise height, then it's normal. May be you have forked node in your peers and it sends invalid blocks

[2021-05-26 12:19] #2725 closed

[2021-05-26 12:23] deemru commented on #2725
Whats in conclusion? Free invocations closed forever?

[2021-05-27 06:09] Crypto2 commented on #3363
That doesn't really help existing systems that use the internal wallet, versus rewriting the whole integration to use a new lib. (When we did the integration Waves was super new and nothing really existed for it  yet in PHP.)

I can tell you in real-world we have ~1 million addresses and even using multiple threads it took over 24 hours to regenerate the addresses even using the sequence API that

[2021-05-29 21:41] affiliatepayday commented on #3488
@DrBlast Yes they continue to increase in heights just on separate forked chains so its not normal. Its literally auto-forking.

To fix the problem the nodes delete the chain and resync and end up back on the main chain again.

[2021-05-31 09:15] DrBlast commented on #3363
Why don't you backup wallet.dat? You can restore file with already created addresses if smth failed.

[2021-06-12 19:41] affiliatepayday commented on #3488
I have tried both 1.2.x and 1.3x and this problem seems to exist on both.

If I reroll a genesis block, usually by block 10,000 I start getting syncing issues. New nodes that connect can't seem to earn because of this. I have tried absolutely everything I can think of. I am perplexed and out of ideas. Its just seem when I roll a chain using waves there are syncing issues.

[2021-06-12 19:42] affiliatepayday commented on #3488
... didn't mean to close the topic.

[2021-06-13 01:22] affiliatepayday opened #3506 "leveldb-jna does not compile."
**Describe the bug**

Leveldb-jna version 1.22.2 does not compile.

**To Reproduce**

     git clone git@github.com:protonail/leveldb-jna.git
     cd leveldb-jna
     git submodule init
     git submodule update
     bin/build_leveldb.sh clean
     mvn test

**Expected behavior**

I expect it to compile correctly. The error starts with:

Running com.protonail.leveldb.jna.LevelDBOptionsTest
Tests r

[2021-06-13 04:43] #3506 closed, assigned to phearnot

[2021-07-29 00:15] Crypto2 commented on #3263
Def still an issue in version 1.3.6. I had to move Waves to a new server and downloaded the latest snapshot and it's as slow as ever syncing up from there :(

See the timestamps from the log:
[code]

[2021-07-29 17:27] msmolyakov commented on #3263
hi, @Crypto2
As we asked earlier, could you send TRACE logs?
How to enable trace logging: https://docs.waves.tech/en/waves-node/logging-configuration

[2021-08-20 13:30] phearnot commented on #3340
Closing due to inactivity. Please feel free to reopen once some new details emerge.

[2021-08-20 13:30] #3340 closed, assigned to nobody

[2021-08-20 13:30] phearnot commented on #3483
Closing due to inactivity. Please feel free to reopen once some new details emerge.

[2021-08-20 13:30] #3483 closed, assigned to phearnot

[2021-08-20 13:31] phearnot commented on #3379
Closing due to inactivity. Please feel free to reopen once some new details emerge.

[2021-08-20 13:31] #3379 closed, assigned to nobody

[2021-08-20 13:31] phearnot commented on #3467
Closing due to inactivity. Please feel free to reopen once some new details emerge.

[2021-08-20 13:31] #3467 closed, assigned to phearnot

[2021-09-01 17:57] #3488 closed, assigned to nobody

[2021-09-01 18:21] affiliatepayday opened #3538 "Nodes on new chain won't stay earning."
I have tried and tried to sort this and cannot figure out why this happens. I have even spent several thousands of dollars on a scala developer and they also can not find why this is happening.

So we created a new chain build from waves 1.3.x source code.

12 nodes exist for the chain.

6 nodes exist on the same network (3 dedicate XEON servers each running 2 nodes). Of these 6 nodes, 1 has the A

[2021-09-03 09:47] DrBlast commented on #3538
@affiliatepayday  to investigate your issue we need your node configs and trace logs
You can tg me (the same nick in tg) or share logs somewhere

[2021-09-03 11:39] KaloyanTanev commented on #3393
Hi guys! Did somebody manage to run it on M1s, either through Rosetta or natively?

Also, I see that Homebrew now supports Apple Silicon builds.

[2021-09-07 01:39] seagullmike commented on #3538
I can get the logs to you, how can we share these?  I can zip and attach here?

[2021-09-07 15:12] DrBlast commented on #3538
Yes you can, but file size limit is only 10mb, you can also share them somewhere and post a link

[2021-09-08 01:50] seagullmike commented on #3538
so I ran the chaincmp tool and it shows this
michael@Excalibur gowaves % ./build/bin/darwin-amd64/chaincmp -n nodes.tacinfo.io -n http://127.0.0.1:6869

2021-09-07T20:45:56.044-0500	INFO	Lowest height: 91168
2021-09-07T20:45:59.984-0500	WARN	Node 'http://127.0.0.1:6869' is on fork of length 91168 blocks since last common block at height 0
2021-09-07T20:45:59.984-0500	WARN	Rollback of node 'http://

[2021-09-08 02:49] seagullmike commented on #3538
the logs for the main and one node are here if this works I'll get the rest
http://www.mypeopledatabase.com/logs.tgz

[2021-09-09 01:04] seagullmike commented on #3538
I just removed the data directory, and restarted the miner node, and then ran the chaincmp
% ./build/bin/darwin-amd64/chaincmp -n nodes.tacinfo.io -n http://127.0.0.1:6869

2021-09-08T20:03:01.002-0500	INFO	Lowest height: 92695
2021-09-08T20:03:03.808-0500	WARN	Node 'http://127.0.0.1:6869' is on fork of length 92695 blocks since last common block at height 0
2021-09-08T20:03:03.808-0500	WARN	Rollb

[2021-09-13 00:51] seagullmike commented on #3538
I updated the chaincmp to go against our network and I got these results ```gowaves % ./build/bin/darwin-amd64/chaincmp -n 198.23.213.66 -n http://127.0.0.1:6869 --verbose

2021-09-12T13:59:04.468-0500	DEBUG	Node to check: http://127.0.0.1:6869
2021-09-12T13:59:04.468-0500	DEBUG	Reference nodes (1): [http://nodes.tactoken.io]
2021-09-12T13:59:04.468-0500	DEBUG	Requesting height from 2 nodes
2021-0

[2021-09-16 02:01] affiliatepayday commented on #3538
@DrBlast is there anything else we can send that might help us sort this out?

[2021-09-26 17:43] sargatxet opened #3551 "After update to v1.3.8 node goes on collecting blocks but does not log or sign blocks"
I get this error and after that logs does not work any more:

`2021-09-26 19:21:06,796 DEBUG [appender-31] c.w.mining.MinerImpl - Next attempt for acc=3P5KC6qJH9TjDdQfgnvP1FpAg2Wa551JZEC in 657,337 seconds (19:32:04.131306)
2021-09-26 19:21:07,623 INFO  [main] c.w.Application - REST API was bound on 0.0.0.0:6869
2021-09-26 19:21:07,838 DEBUG [nio-worker-group-3-2] c.w.n.PeerDatabaseImpl - Suspendi

[2021-09-26 20:21] sargatxet commented on #3551
Found that logs has changed its location to /var/lib/waves/log

It's working.

[2021-09-26 20:21] #3551 closed, assigned to phearnot

[2021-10-21 19:40] deemru opened #3564 "decompile (java.lang.IndexOutOfBoundsException)"
**Describe the bug**
Unable to decompile the script [9hbRAKaRUEufHDtYuiH4k4s8dWWp11ermmKcoNLKGtN5](https://w8io.ru/tx/9hbRAKaRUEufHDtYuiH4k4s8dWWp11ermmKcoNLKGtN5) (MAINNET)

[code]

**To Reproduce**
1. http://nodes.wavesnodes.com/api-docs/index.html#/utils/decompileScript
2. paste script from [9hbRAKaRUEufHDtYuiH4k4s8dWWp11ermmKcoNLKGtN5](https://w8io.ru/tx/9hbRAKaRUEufHDtYuiH4k4s8dWWp11ermmKcoNL

[2021-10-30 21:43] a-kosak-mbx opened #3568 "GRPC GetUnfonfirmed always returns empty stream."
I am trying to use grpc and all works fine until i call GetUnconfirmed.
Small part of code is

`__SERVER_ADDRESS = 'nodes.wavesnodes.com:6870'`
`channel = grpc.insecure_channel(__SERVER_ADDRESS)`
`client = TransactionsApiStub(channel)`
`request = TransactionsRequest()`
`response = client.GetUnconfirmed(request)`
`transaction = response.next()`

And it always causes StopIteration even there unconfi

[2021-11-02 13:10] phearnot commented on #3564
Fixed in #3559 and will be released as part of 1.3.9.

[2021-11-02 13:10] #3564 closed, assigned to phearnot

[2021-11-02 13:21] phearnot commented on #3568
If neither [`sender`](https://github.com/wavesplatform/protobuf-schemas/blob/master/proto/waves/node/grpc/transactions_api.proto#L51) nor [`transaction_ids`](https://github.com/wavesplatform/protobuf-schemas/blob/master/proto/waves/node/grpc/transactions_api.proto#L53) is specified, the server will return an empty stream.

Will you kindly describe your use case?

[2021-11-03 13:06] a-kosak-mbx commented on #3568
Looks like you are right. I passed both sender and transaction_ids empty and expected that it will work in the same way as its analogue in REST API and would return all unconfirmed transactions that had existed in such case. But you say that it is not a bug. So issue can be closed I think.
The only one question. Maybe you can suggest how in such case I can get all unconfirmed transactions using gr

[2021-11-04 00:59] affiliatepayday opened #3575 "Super simple feature request"
My feature request isn't so much a blockchain feature, as a feature of good etiquette when dealing with support issues and bugs.

The request is, when you ask for logs, as if to imply if you get them you will reply back... actually do that.

Its 100% rude to just drop off a conversation and never reply again after what was requested is delivered.

I mean even if its just to say "We are clueless ab

[2021-11-08 05:08] affiliatepayday opened #3576 "Nodes don't stay synced on new chain"
Latest fork, nodes still desync from each other and don't stay synced and earning.

Increasing the rollback to something like 40,000 or 50,000 helps some but not everyone.

Logs have been shared in the last bug report that you guys ignored entirely after we left logs.

I suspect you guys did something to your code intentionally so others couldn't fork it while your long withstanding chain stays wo

[2021-11-08 10:34] flav-code opened #3577 "Create a discord server for support"
Create a discord support for waves
for the moment I create one for those who want
https://discord.gg/KD6e4SNQBa

[2021-11-10 10:56] pivoo19 commented on #3577
https://discord.gg/3g8XR6B

[2021-11-10 10:56] #3577 closed, assigned to pivoo81

[2021-11-10 11:20] phearnot commented on #3568
We're not planning to expose the whole UTX pool content via gRPC.
However, if you intend to monitor UTX, you might consider writing an extension for the node which will have access to all [UTX events](https://github.com/wavesplatform/Waves/blob/758aee7dd2348b755f8c5b84a3cbfe21d86f4f5a/node/src/main/scala/com/wavesplatform/extensions/Context.scala#L34).

[2021-11-10 11:20] #3568 closed, assigned to phearnot

[2021-11-10 12:27] phearnot commented on #3538
I have looked through the [logs](https://github.com/wavesplatform/Waves/issues/3538#issuecomment-914861410) and it appears that the codebase has been modified: at least package names and root config section has been changed. We do not provide support for custom forks, because we obviously have no way of knowing what else had been modified.

If you encounter a problem when running a [custom network

[2021-11-10 12:27] #3538 closed, assigned to phearnot

[2021-11-10 12:28] phearnot commented on #3576
Closing as a duplicate of #3538

[2021-11-10 12:28] #3576 closed, assigned to phearnot

[2021-11-10 12:53] phearnot commented on #3575
This is obviously related to #3538. I have to admit we did indeed lost the track of the progress with the issue because of having to deal with more pressing matters. If you feel like your issue has been neglected, consider pinging the person you contacted once again. This will also let us know the issue still persists.

[2021-11-10 12:53] #3575 closed, assigned to pivoo81

[2021-11-11 12:29] deemru commented on #3564
Fixed, thanks.

[2021-11-11 21:06] deemru opened #3584 "Failed ethereum transactions have no additional info"
**Describe the bug**
There is an empty payload on a failed ethereum (19) transaction.

**To Reproduce**
https://nodes-stagenet.wavesnodes.com/transactions/info/GvMHeCnYKduQg26Ly8oZkYYXP7ghjdKZHRNzkXVEZcTo

**Expected behavior**
At least we need to know everything we know from failed invocation (16) transactions:
- dApp
- call function
- function args
- payments
- stateChanges with error descriptio

[2021-11-15 09:02] DrBlast commented on #3584
Accepted. Will be fixed in nearest release.

[2021-11-16 15:56] phearnot commented on #3584
Fixed in #3587

[2021-11-16 15:56] #3584 closed, assigned to phearnot, Karasiq

[2021-11-25 09:00] jaydp17 opened #3592 "Error in Appender: Negative transfer amount after block 2871360"
**Describe the bug**
All of my nodes are crashing with the following error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Just run the node
2. It gets stuck on block 2871360
3. And then crashes with the above error

**Expected behavior**
It shouldn't crash

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version: v1.3.9

**Additional context**
https://waves

[2021-11-25 09:01] jun0tpyrc opened #3593 "v1.3.9 keep exit for "Negative transfer amount = -15220" at block 2871360"
**Describe the bug**
A clear and concise description of what the bug is.
[code]

**To Reproduce**
[code]

[2021-11-25 14:47] jaydp17 commented on #3592
This is fixed for us.

To the core contributors, I'm leaving this issue open so that the team at least has the chance to take a look at the issue. But please feel free to close this

[2021-11-26 19:18] phearnot commented on #3593
Please upgrade to [v1.3.10](https://github.com/wavesplatform/Waves/releases/tag/v1.3.10) which fixes this issue.

[2021-11-26 19:18] #3593 closed, assigned to phearnot

[2021-11-26 19:19] phearnot commented on #3592
This issue has been fixed in [v1.3.10](https://github.com/wavesplatform/Waves/releases/tag/v1.3.10).

[2021-11-26 19:19] #3592 closed, assigned to phearnot

[2021-12-10 15:07] mychaint commented on #2758
it s been a while, any outcome?

[2021-12-21 10:52] bengrissinger opened #3609 "critical / high CVEs"
**Describe the bug**
I want to run a wave node using the Docker image, but it seems there are too many vulnerabilities

**To Reproduce**
I used grype to scan image

MacBook-Air-2:~ bgrissin$ grype wavesplatform/wavesnode:latest --scope all-layers
 ✔ Vulnerability DB        [updated]
 ✔ Loaded image
 ✔ Parsed image
 ✔ Cataloged packages      [516 packages]
 ✔ Scanned image           [454 vulnerabil

[2021-12-22 15:39] phearnot commented on #3609
Thanks for reaching out. All of the high/critical vulnerabilities listed above come from parent image, which is `debian:buster-slim`, and are not a part of the node's distribution. Also those are marked as `won't fix`, so there are no fixed packages available.

[2021-12-22 15:39] #3609 closed, assigned to phearnot

[2021-12-24 00:10] Ambolans opened #3611 "9011b93b722cd9c803375a910be081251f27860"

[2021-12-24 00:10] #3611 closed, assigned to nobody

[2021-12-30 19:38] deemru opened #3613 "Allow underscore char in function names"
Simple just allow the usage of underscore. At least in the middle of function names.

Is there any reasonable point why its prohibited?

This is needed for cross-blockchain common names in external interface naming.

[2022-01-08 19:39] lgray opened #3614 "Pruned blockchain or "light" node operation? (This is actually more of a question than a feature request)"
**Аbstract**
Not related to a problem but more thinking about the various levels of security that can be offered in a blockchain when you control the node. I would like to understand if, in a way similar to bitcoin's prune mode or geth's "light-client", a Waves node can be configured to only keep some fraction of the blockchain? This is significantly more secure than connecting to someone else's f

[2022-01-09 09:34] deemru commented on #3613
And the same for variables names

[2022-01-23 05:30] viraladmin opened #3632 "transaction type 17 not supported"
I am using node version 1.3.x.

According to the docs `The Update Asset Info transaction type is enabled by of feature #15 “Ride V4, VRF, Protobuf, Failed transactions”.` -- https://docs.waves.tech/en/blockchain/transaction-type/update-asset-info-transaction

Yet when submitting a type 17 for signing, the rest API for my node returns:

[code]

Looking at `node/src/main/scala/com/wavesplatform/tran

[2022-01-26 11:07] a-jasinski opened #3637 "Assets balances API endpoint does not return issueTransaction"
**Describe the bug**
Node API endpoint `[GET] /assets/balance/{address}` does not return `issueTransaction` of an asset if it was issued on a dApp through an `invokeScript` transaction.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a dApp with a callable function which issues an Asset.
2. Invoke said function. Asset should be on the Account of the dApp.
3. Use the node API to fetch

[2022-02-01 14:49] phearnot commented on #3632
Thanks for the report, we'll include the fix in one of the future releases.

[2022-02-01 15:10] phearnot commented on #3637
Actually this endpoint works as intended. Issue actions in InvokeScript transactions changed the way assets can be created in a backward-incompatible way. To make the API breakage obvious to the clients, we decided against putting InvokeScript transactions into an `issueTransaction` field (because InvokeScript transaction is not an IssueTransaction) and chose to use `null` instead.

To retrieve as

[2022-02-01 15:10] #3637 closed, assigned to phearnot

[2022-04-06 07:37] SeungjinPark2 opened #3669 "Failing on sync"
[code]
Can not proceed synchronize after this log.
My waves version is 1.4.2
Environment (docker)
[code]

[2022-04-06 07:44] SeungjinPark2 commented on #3669
I'm trying 1.3.14 but also same.

[2022-04-06 08:06] phearnot commented on #3669
Hey, thanks for reaching out. Are you running the node built from `v1.4.2` tag, or is it some subsequent commit?
When checking if 1.3.14 works, did you use the same data directory as for 1.4.2, or did you start the import with a clean directory?

[2022-04-07 00:19] SeungjinPark2 commented on #3669
I used 1.4.2 data directory when checking 1.3.14, did not clean my directory.
Why negative waves balance happens?
The transaction looks normal on explorer.

[2022-04-07 13:01] phearnot commented on #3669
There was an issue with 1.4 which incorrectly caused a transaction from the preceding block to fail, which in turn invalidated the mentioned exchange transaction. This is actually the reason why 1.3.14 didn't work from the same directory: the state had already been corrupted at height 3060350. One could roll back version 1.3.14 to 3060349 to successfully continue import.

 The issue is now fixed i